[2015-10-19 15:46] tphyahoo opened #3 "wish: use trezor as hardware gpg agent"
is this on the roadmap?

it would be totally awesome?

would anything be required from libgpg?

side note: as with the bitcoin keys, everything is recoverable if you have passphrase... right?

this would compete with (trapped forever in dev mode?)

http://trilema.com/2013/snsa-first-product-the-cardano/

Ideally, the trezor would never leak keys, even on a compromised computer.  Actually I don't k

[2015-10-20 19:43] romanz commented on #3
This is actually a very good idea!

The only problem is that the default GPG version is v2.0 on my machine, and it does not support any ECDSA yet. I will take a look at v2.1 which should support NIST-256 curve:
https://www.gnupg.org/faq/whats-new-in-2.1.html#ecc

[2015-10-20 20:16] tphyahoo commented on #3
Glad you like the idea.

Can you say whether agent leaks privkeys on hacked computer?

I don't know enough about ssh agent / gpg agent to answer this myself.

[2015-10-20 20:23] jhoenicke commented on #3
No, trezor-ssh-agent doesn't leak the private key.  It sends the challenge to the Trezor, the signature is computed on the Trezor and send back to the PC.  So the private key never leaves the Trezor.

The same would hold for gpg.  I'm not sure how gpg-agent works and if something similar is possible.  Also Trezor only supports  AES + ECDH for encryption and I know too little about gpg to say wheth

[2015-10-20 20:35] jhoenicke commented on #3
If ecdsa is only supported with gpg 2.1, this also means that your communication partners need to install gpg 2.1 to send you encrypted messages or to check your signatures.  Of course, you can have several sub keys and use the Trezor-based key only when your peer supports it.

[2015-10-20 20:47] tphyahoo commented on #3
right... so...

add an hdmi out to trezor v2.

get one of these:

http://www.amazon.com/Sewell-Direct-Ibis-Bi-Directional-Passthrough/dp/B00629NHW6/ref=sr_1_2?ie=UTF8&qid=1445373643&sr=8-2&keywords=sewell+hdmi+splitter&refinements=p_89%3ASewell+Direct

Press the button to read the decrypted messages:

http://ecx.images-amazon.com/images/I/51%2B3Uiwmi6L._SL1000_.jpg

(ha ha only serious...)

[2015-11-26 13:04] Picard0147 opened #4 "Bug: Unable to enter port"
Hello,

I have problem with using trezor-agent for ssh login with non standart port.
When I'm connecting to ssh server with standard config (trezor-agent -c -v user@my.home.server), then everything is ok and I get this:

---------------------------------------------------------------------------------------
2015-11-26 13:43:37,622 INFO         getting "ssh://user@my.home.server" public key (nist25

[2015-11-26 18:46] romanz commented on #4
Thanks for reporting this issue!
I will take a look soon.

[2015-11-27 15:43] #4 closed

[2015-12-21 02:20] keynan opened #5 "Install issues"
My understanding is this is an official Trezor code base

When the device ships it says ~$25 for hardware ~$75 for "security services"

How about those services include an easy install. If I have to hot patch pip this is not an acceptable release path for paid for software.

[2015-12-21 08:07] romanz commented on #5
This repository is my own open source project, and I am not part of the SatoshiLabs team.

Having said that, I would be happy to help to improve the installation experience of this tool.
Could you please elaborate which problems have you encountered while installing trezor-agent?
Why did you have to patch pip for this?

[2015-12-25 07:57] romanz commented on #5
@keynan I would be happy to help but I need more information.

[2016-01-05 23:21] opie4624 opened #6 "Agent doesn't exit when SSH session ends"
[code]

[2016-01-06 16:53] romanz commented on #6
Thanks for reporting this!
I will take a look.

[2016-01-06 17:12] romanz commented on #6
@opie4624 BTW, does this bug happen all the time?
If so, could you please use https://asciinema.org/ to record your session when this issue takes place?

[2016-01-06 17:13] romanz commented on #5
@keynan please reply so we could fix this issue.

[2016-01-06 18:24] opie4624 commented on #6
@romanz Yeah, this happens every single time.
[![asciicast](https://asciinema.org/a/cmlh57afbvjmkxe8upir6utf3.png)](https://asciinema.org/a/cmlh57afbvjmkxe8upir6utf3)

[2016-01-06 19:15] romanz commented on #6
Thanks for the detailed screencast!

Does the Trezor ask you to confirm the SSH login?
(it seems that you are using SSH session multiplexing: https://en.wikibooks.org/wiki/OpenSSH/Cookbook/Multiplexing)

[2016-01-06 19:25] opie4624 commented on #6
No, the Trezor never asks me to confirm the login. It only prompts me for the pin.
I am using multiplexing, but I checked that no multiplexing connections were open before I started the connections. I believe the multiplexing delay should be around 30s. But even so, the trezor-agent hangs around for much longer than that. (As an experiment, I left it in that state when I left work last night and i

[2016-01-06 19:33] romanz commented on #6
This is interesting...

Can you try the following command:

    trezor-agent akraut@uhacc.club -vv -- ssh -o "ControlMaster=no" akraut@uhacc.club

[2016-01-06 19:37] romanz commented on #6
Also, it seems that in OSX, calling `socket.shutdown()` on an accepting socket does not cause it to disconnect (it was the trick I have using in Linux to stop the "ssh-agent" serving thread after the SSH connection is closed).

[2016-01-06 19:58] opie4624 commented on #6
[![asciicast](https://asciinema.org/a/8w1q5xgcmix5bbefzmfz8nbxc.png)](https://asciinema.org/a/8w1q5xgcmix5bbefzmfz8nbxc)

[2016-01-06 20:02] opie4624 commented on #6
Also, just to be complete:
[code]

[2016-01-06 20:14] romanz commented on #6
Are you running `trezor-agent` on Ubuntu or Mac OS?

[2016-01-06 20:15] opie4624 commented on #6
My workstation is Mac OS:
[code]

[2016-01-06 20:16] romanz commented on #6
It seems that the local SSH client fails to parse the ECDSA public keys returned from the Trezor.

[2016-01-06 20:19] opie4624 commented on #6
Ok, using a newer SSH on the mac allows it to connect. The failure to exit is still present:
[![asciicast](https://asciinema.org/a/4wvr9hj2honb7q96vrv2uf6m6.png)](https://asciinema.org/a/4wvr9hj2honb7q96vrv2uf6m6)

[2016-01-06 20:19] romanz commented on #6
Can you please try the following:

  trezor-agent -vv foo_bar > /tmp/pub
  ssh-keygen -e -f /tmp/pub

This should print something like:

2016-01-06 22:19:00,747 DEBUG        connected to Trezor D996AB205905E96F77DE6663                                                         [client.py:23]
2016-01-06 22:19:00,747 DEBUG        label    : romanz

[2016-01-06 20:19] romanz commented on #6
Great!

[2016-01-06 20:21] opie4624 commented on #6
[code]

[2016-01-06 20:33] romanz commented on #6
Regarding the failure after the logout - it seems it happens due to a difference Mac OS X and Linux.

A bit of background about SSH client is needed: if it runs with SSH_AUTH_SOCK environment variable, it tries to connect to this UNIX socket, and asks the server (called "ssh-agent") behind the socket to perform the actual signing on its behalf.

In our case, I am using the same interface to forwar

[2016-01-06 20:37] romanz commented on #6
Can you please run the following Python code on your machine to reproduce the scenario of shutting down a listening UNIX socket server (before calling `accept()`, to make the code simpler):

[code]

[2016-01-06 23:24] opie4624 commented on #6
Looks like it needs an accept in order to properly shutdown? My Python Socket Foo is very weak at the moment.

https://asciinema.org/a/3lvdml0gwqzkzgnp2o9a48wht

[2016-01-07 20:43] romanz commented on #6
Well, it seems that the socket system calls behave differently on Mac OS X and Linux...
https://asciinema.org/a/3j3pq1gn4m8mncm0hy67lpi64

[2016-01-07 20:44] romanz commented on #6
I have a few ideas how to make it work, but the main problem is that I don't have any computer running Mac OS under my control... :(

[2016-01-07 20:46] romanz commented on #6
I will mark this issue with "help wanted" label, for any one that have access to Mac OS and a Trezor wallet and can help us to fix this issue.

[2016-01-07 21:06] romanz commented on #6
On the other hand, you can try the following patch (just an ugly hack to stop the hanging of `trezor-agent` after the SSH session is over):
[code]

[2016-01-08 18:34] romanz commented on #6
Please try the latest version of this library (from https://github.com/romanz/trezor-agent/commit/fb0d0a5f6138d3e55786ae8b32b6ea2d231527c9).
I have replace the incompatible socket system call, by a more generic polling mechanism that should work on either platform (adding up to 100ms latency for closing the program).

[2016-01-12 17:07] romanz commented on #5
No reply from OP.

[2016-01-12 17:07] #5 closed

[2016-01-15 15:51] romanz commented on #6
@opie4624 Did you try the latest version on Mac OS?

[2016-01-15 23:37] bgok opened #9 "Fails on Mac OS X"
I tried it with both Trezor and KeepKey, same result. Here's the output:

[code]

[2016-01-16 09:37] romanz commented on #9
A bit of background:
I had an issue reported (https://github.com/romanz/trezor-agent/issues/6) for Mac OS X last week.
It seemed that there was a problem with some socket system calls on Mac OS X,
so I have rewritten the exit logic using polling (instead of calling `shutdown()` on the listening socket) at https://github.com/romanz/trezor-agent/commit/fb0d0a5f6138d3e55786ae8b32b6ea2d231527c9.
Howev

[2016-01-16 10:07] romanz commented on #9
Does the `Resource temporarily unavailable` error happens all the time?
Does it happen always after the first `list_pubs()` reply is sent?
What version of SSH client are you using on Mac OS X?

[2016-01-16 10:24] romanz commented on #9
An idea: can you tweak `server.UNIX_SOCKET_TIMEOUT` constant (https://github.com/romanz/trezor-agent/blob/master/trezor_agent/server.py#L13)?
Currently, it is set 100 ms, but it may be increased to a few seconds to check if it affects the error.

[2016-01-16 11:58] romanz commented on #9
It seems that EAGAIN on Mac OS X has errno=35:
http://stackoverflow.com/questions/14595269/errno-35-eagain-returned-on-recv-call

[2016-01-16 20:02] romanz commented on #9
If the problem is that the `recv()` system call is failing with EAGAIN due to a timeout, could you please try the following patch (to make sure that the accepted connection is set to blocking mode) on Mac OS?

[code]

[2016-01-16 20:17] romanz commented on #6
You can also now set the timeout via a command-line argument:
https://github.com/romanz/trezor-agent/commit/b101281a5b53477d3553bd4b9a01cb38e513537e

[2016-01-16 20:17] romanz commented on #9
You can also now set the timeout via a command-line argument: https://github.com/romanz/trezor-agent/commit/b101281a5b53477d3553bd4b9a01cb38e513537e

[2016-01-18 19:40] bgok commented on #9
@romanz The conn.settimeout(None) fixed it. I tried with both KeepKey and Trezor and they both work.

[2016-01-18 20:40] romanz commented on #9
Great!
I will push the fix to master branch.

[2016-01-18 20:50] #9 closed

[2016-01-18 20:51] romanz commented on #6
Please take a look on the latest code - we have fixed another bug on Mac OS X (#9).

[2016-01-23 19:01] romanz commented on #6
@opie4624 are there any news about the bug?

[2016-02-05 19:40] #6 closed

[2016-03-18 11:58] romanz commented on #3
https://gist.github.com/vt0r/a2f8c0bcb1400131ff51

[2016-03-18 11:58] romanz commented on #3
http://unix.stackexchange.com/questions/188668/how-does-gpg-agent-work

[2016-03-18 12:09] romanz commented on #3
https://www.gnupg.org/howtos/card-howto/en/ch01.html
http://g10code.com/docs/openpgp-card-3.0.pdf
https://tools.ietf.org/html/rfc6637

[2016-04-24 11:30] romanz commented on #3
@tphyahoo Please take a look :)

[2016-04-24 21:04] tphyahoo commented on #3
wow, this is great!

[2016-04-24 21:12] tphyahoo commented on #3
can there be encryption as well as signing?

[2016-04-25 09:52] romanz commented on #3
It should work (in theory) - but I guess that it will probably require a few more changes to the TREZOR firmware, so currently I focus on the signature part.

[2016-05-02 23:55] ywecur opened #11 "Python 3 support"
`$ trezor-agent ywecur@wunderkinder.io`

[code]

I then tried `$ pip install mapping` which returned:

`Collecting mapping
  Could not find a version that satisfies the requirement mapping (from versions: )
No matching distribution found for mapping`

Mac OS X El Capitan 10.11.4
Trezor on the latest firmware

[2016-05-03 04:37] romanz commented on #11
Thanks for reporting this issue!
Could you please try to run it with Python 2?
I think that there may be a problem with Python 3.

[2016-05-03 19:25] romanz commented on #11
As far as I understand, this happens due to non-relative `import` statement at `trezorlib.client`.
In Python 3, it should be written as:

[code]

[2016-05-04 00:25] ywecur commented on #11
@romanz How do I do that?

[2016-05-04 14:31] romanz commented on #11
Sorry for the inconvenience, I will try to prepare a PR to python-trezor to add support for Python 3.
Meanwhile, you can install Python 2 on your machine, and use it to run  trezor-agent...

[2016-05-05 03:39] romanz commented on #11
https://github.com/trezor/python-trezor/issues/56

[2016-05-05 07:24] slush0 commented on #11
romanz: Please give it a try and tell me back, branch "python3" might work for you already.

[2016-05-05 18:11] romanz commented on #11
Thanks a lot for the fixes!
There was a small issue at `transport_hid` (fixed by https://github.com/trezor/python-trezor/pull/57) and after installing `protobuf==3.0.0b2.post2` dependency (since `protobuf==2.6.1` isn't compatible with Python 3), `trezor-agent` works like a charm :)

[2016-05-05 19:39] romanz commented on #11
@ywecur `trezor-agent` should work now on Python 3.
Please try it and tell me if it works for you.

[code]

[2016-05-06 09:53] robbert36 opened #12 "Unsupported key type 10 when trying to connect"
When I'm trying to connect over ssh with the trezor-agent I receive the following error:

2016-05-06 11:42:40,485 INFO         running ['ssh', '-l', 'pi', 'pi.local'] with {'SSH_AUTH_SOCK': '/var/folders/4x/l00r0qqx6gd8r50218rkf0kc0000gn/T/ssh-agent-eNZO50', 'SSH_AGENT_PID': '14598'} [server.py:140]
key_from_blob: remaining bytes in key blob 81
key_to_blob: unsupported key type 10

The actions I t

[2016-05-06 10:04] romanz commented on #12
Thanks for reporting this!
I will take a look soon :)

[2016-05-06 10:08] romanz commented on #12
@robbert36 Can you run `ssh -V` on your laptop?
Maybe the SSH client does not recognize ECDSA public key type?

[2016-05-06 10:13] romanz commented on #12
Also, could you please re-run the trezor-agent with more verbose logging, using `trezor-agent -v -v pi@pi.local --connect --debug`?

[2016-05-06 12:40] robbert36 commented on #12
Thank you for the quick response.

ssh -V  (on laptop)
OpenSSH_6.2p2, OSSLShim 0.9.8r 8 Dec 2011

trezor-agent -v -v pi@pi.local -- ssh-add -l
2016-05-06 14:38:32,203 DEBUG        connected to Trezor 6FC46776C8CA6664578FBAB5                                                         [factory.py:27]
2016-05-06 14:38:32,203 DEBUG        label    : Trezor White

[2016-05-06 12:42] robbert36 commented on #12
More debug logging of the connect command:

trezor-agent -v -v pi@pi.local --connect
2016-05-06 14:41:08,291 DEBUG        connected to Trezor 6FC46776C8CA6664578FBAB5                                                         [factory.py:27]
2016-05-06 14:41:08,291 DEBUG        label    : Trezor White                                                                              [factory.py:28]
2016-05

[2016-05-06 12:54] romanz commented on #12
I think that you should try to upgrade the SSH client installed on your Mac OS, since the current version seems to not working well with ECDSA public keys.
See https://github.com/romanz/trezor-agent/issues/6#issuecomment-169447439 for similar symptoms.

[2016-05-06 13:37] robbert36 commented on #12
Upgrading my SSH client on my Mac fixed the issue.

New SSH client:
ssh -V
OpenSSH_7.2p2, OpenSSL 1.0.2f  28 Jan 2016

SSH client upgrade instruction for Mac OS:
http://www.dctrwatson.com/2013/07/how-to-update-openssh-on-mac-os-x/

Thank you for the support!

[2016-05-06 13:37] #12 closed

[2016-05-06 16:09] romanz commented on #12
You're welcome :)

[2016-05-07 18:58] romanz commented on #11
@ywecur ?

[2016-05-17 09:44] jhoenicke opened #13 "Support ElGamal and DSA keys in trezor-gpg"
My existing public key uses ElGamal and DSA keys.  Currently trezor-gpg fails when parsing these keys.  I have a quick'n dirty patch here:

https://github.com/jhoenicke/trezor-agent/commit/9229ad2f90b5b556f9f2f10fef9d02e8814dd25d

Note that I disabled signature checking, as I was too lazy to implement it for DSA.  Do you plan to support all gpg verify operations, or do you think it makes more sens

[2016-05-17 10:57] romanz commented on #13
Thanks, Jochen!
I will take a look on this issue later this week.

[2016-05-18 04:26] romanz commented on #3
Using the TREZOR for ECDH decryption:
https://github.com/trezor/trezor-mcu/issues/85

[2016-05-18 19:19] romanz commented on #11
Somehow, the latest `hidapi` package fails to build on Python3:

[code]

[2016-05-18 19:23] romanz commented on #11
@prusnak Could you please take a look on this issue?

[2016-05-18 20:11] slush0 commented on #11
What version of Cython do you use? I had similar issue and fixed it by installing older Cython version. I did not dig into the problem more as I needed to focus to another thing, but if this will fix problem for you, we should stick the version and report it to cython.

[2016-05-18 21:34] prusnak commented on #11
setuptools is usually the culprit. make sure you have at least version 19.

[2016-05-19 17:55] romanz commented on #11
Thanks! I will retry the installation :)

[2016-05-19 18:51] romanz commented on #11
It works!
The correct installation for Python 3 is:

[code]

[2016-05-22 16:15] eyecikjou567 opened #14 "AttributeError: 'Namespace' object has no attribute 'run'"
![](http://i.imgur.com/bGKsdnm.png)

Installed trezor-agent as per readme, then as per readme for the gpg module on a clean Ubuntu 16 VM.

I'm not quite sure what I broke but the ssh-agent works fine.

[2016-05-22 18:05] romanz commented on #14
Thanks for reporting this issue!
It's probably my fault - please try to update `trezor-agent` to the latest development version:

[code]

This way, you can update your `trezor-agent` version, simply by running `git pull` :)

[2016-05-22 18:14] romanz commented on #14
BTW, could you please run `pip freeze` inside the virtual environment?
It should print all the installed packages, with their versions...

[2016-05-22 18:14] romanz commented on #14
I see that you are using Python 3.
Please try the following installation instructions:
https://github.com/romanz/trezor-agent/issues/11#issuecomment-220418263

[2016-05-22 18:18] eyecikjou567 commented on #14
Regarding #11, my environment is basically Ubuntu + those commands inside venv.

`pip freeze` output:

![](http://i.imgur.com/RPqQs9e.png)

I tried installing with the given instructions from source, but the error remains.

[2016-05-22 19:01] romanz commented on #14
Thanks for the reply!
Please try calling `trezor-gpg create` (to create new TREZOR-based GPG key) or `trezor-gpg sign` (to sign a file using the TREZOR).

The error you are getting is indeed not descriptive - I will fix it out.

[2016-05-22 19:13] romanz commented on #14
BTW, Python 3 GPG support may be broken now...
I am working on this, and will update when it will be fixed.
Sorry for the inconvenience :(

[2016-05-22 19:13] eyecikjou567 commented on #14
![](http://i.imgur.com/WDt2O7M.png)

![](http://i.imgur.com/Sj7SbRs.png)

`trezor-gpg create` seems to create a key but HCF's later on.

`trezor-gpg sign` doesn't work without a key that I can't get without create.

[2016-05-22 19:22] romanz commented on #14
Please take a look on the latest version https://github.com/romanz/trezor-agent/commit/decd3ddf7595c609c8b7910dff9e60b2e987b74f.
It seems to be working :)

[2016-05-22 20:03] eyecikjou567 commented on #14
Getting closer now.

![](http://i.imgur.com/aOO0aLJ.png)

I commented out the assert and it seems to work just fine, however, GPG returns an error, which I worked around by using `allow-non-selfsigned-uid` in the gpg.conf.

I can import the key into GPG, but trezor-gpg refuses to sign subkeys or messages due to a ecdsa BadSignature error:

![](http://i.imgur.com/SBRscYt.png)

[2016-05-22 20:15] romanz commented on #14
It seems that you are not using the correct TREZOR firmware for this version - currently, a custom firmware version needs to be built (see [here](https://gist.github.com/romanz/324c8e513abf5b5a452602ed648fa2cf) for an example build).

[2016-05-22 20:16] romanz commented on #14
It's getting late here - so let's continue tomorrow :)

[2016-05-22 20:17] eyecikjou567 commented on #14
Yeah, I'll see tomorrow, I'll test the custom version then and see if it works.

[2016-05-23 08:16] eyecikjou567 commented on #14
With the newest firmware release, Key Creation works flawless with one exception:

Creating a subkey yields this:

[code]

I wish my python-fu was good enough to fix it.

Signing works perfect.

[2016-05-23 08:21] romanz commented on #14
Great to hear :)
I will take a look on the subkey error later this week.
Thanks again!

[2016-05-23 08:24] eyecikjou567 commented on #14
Thanks a lot for fixing things! I can work with this from here I think and see if I can somehow sign the subkey myself.

[2016-05-23 20:16] romanz commented on #14
Please try the [latest](https://github.com/romanz/trezor-agent/commit/a6a0c05f57a9b8876406e1651200bf40c16a1753) version, it should support creating GPG subkeys with Python 3.

[2016-05-23 20:20] romanz commented on #13
The latest version seems to be working (with default ElGamal and DSA settings):

[code]

[2016-05-23 20:25] romanz commented on #13
BTW, why did you disable `ttyname` option [here](https://github.com/jhoenicke/trezor-agent/commit/9229ad2f90b5b556f9f2f10fef9d02e8814dd25d#diff-0ed51367f7f7927db714f7f272690711R116)?
Isn't it required for providing the passphrase, to unlock the keyring?
(If not, I'd be happy to remove it...)

[2016-05-23 20:44] eyecikjou567 commented on #14
[code]

It looks like the subkey creation is somehow using the wrong key id for signing and the gpg agent dislikes that a lot.

`ERR 67108881 Kein geheimer Schl\xc3\xbcssel <GPG Agent>'` => `ERR 67108881 No secret key <GPG Agent>`

[2016-05-23 20:53] romanz commented on #14
Could you please run `"gpg2 -K"` on your machine?
It seems that somehow the script got confused...

[2016-05-23 21:03] eyecikjou567 commented on #14
Empty.

I cleared the key storage and created a new master key, then ran `gpg -K` which gives me this (translated):

[code]

Running the subkey creation again yields again an empty output.

Verbose output yields this:

[code]

If I'm missing anything I'll check tomorrow.

[2016-05-24 00:11] jhoenicke commented on #13
It didn't work for me.  It just gave some obscure error message.  Without the option I get a graphical pinentry dialog.  Maybe this is specific to ubuntu 16.04.

[2016-05-25 18:49] romanz commented on #13
It should be working now :)

[2016-05-25 18:49] #13 closed

[2016-05-25 18:56] romanz commented on #14
Are you trying to add a TREZOR-based subkey to a TREZOR-based primary key?
If you do, it does not currently work - since the current code assumes the primary key is a regular one (e.g. stored on your machine and can be accessed via `gpg-agent`).
Please try to use `gpg2 --gen-key` to generate a regular primary key.
Then, use `trezor-agent create --subkey` to add a TREZOR-based subkey to it (see [he

[2016-05-25 19:40] eyecikjou567 commented on #14
Ah, ok. Yeah, tried to do that.

Guess the issue can be closed then, probably got confused somewhere in the readme and skipped the crucial bit of text...

Thanks a lot for your help!

[2016-05-25 19:48] romanz commented on #14
You're welcome :)

[2016-05-25 19:49] #14 closed

[2016-05-25 19:49] #11 closed

[2016-05-28 04:50] WyseNynja opened #15 "pkg_resources.ContextualVersionConflict with protobuf"
[code]

I searched through everything for ==2.6.1 and found two places: keepkey-0.7.0.dist-info/METADATA and trezor-0.6.12.post1.dist-info/METADATA

I think trezor-agent's setup.py needs to stick with 2.6.1 until these bump their versions

[2016-05-28 05:50] romanz commented on #15
Thanks for reporting this issue!

[2016-05-28 05:50] #15 closed

[2016-06-17 19:37] romanz commented on #3
Please take a look :)
https://gist.github.com/romanz/3c1617e8dd5e6c67035e22e1c73ab4d5

[2016-06-25 08:50] #3 closed

[2016-06-25 08:53] romanz opened #17 "Add better unit tests and refactor GPG public key decoding"
Add multiple test vectors for testing various public key algorithms, packet and signature types.

[2016-07-29 19:20] romanz commented on #15
BTW, protobuf version 3.0.0 was released two days ago: https://github.com/google/protobuf/releases/tag/v3.0.0
It supports both Python 2 & 3, so it should help us to port `trezor`'s Python code to Python 3.

[2016-08-02 18:48] btchip opened #18 "gpg encryption fails with Curve25519"
gpg encryption seems to fail because compressed keys are not handled for that scheme. It could be interesting to test with non compressed keys, I didn't try that yet.

[2016-08-02 18:50] btchip opened #19 "agent fails in non default GPG home directory"
The agent won't find keys in a non default directory when it pipes gpg2 in keyring.py

Maybe --homedir could be passed along with the socket to listen to when starting the agent

[2016-08-02 19:20] romanz commented on #19
Thanks for finding this bug :)
Will take a look on this during the weekend.

[2016-08-02 19:27] romanz commented on #18
Thanks for finding and reporting this bug :)
I haven't tried to use Curve25519 keys for encryption yet, so I'd try to reproduce this issue and see how it could be solved.

[2016-08-02 19:37] romanz commented on #19
BTW, could you please try setting GNUPGHOME environment variable to see if it helps?
According to the man page, it could be used to override the default home directory...

[2016-08-02 19:39] romanz commented on #18
Curve25519 key generation: http://www.gniibe.org/memo/software/gpg/keygen-25519.html

[code]

[2016-08-02 22:22] btchip commented on #19
tried it, it doesn't seem to pass along the environment when spawning from the agent.

[2016-08-03 20:07] romanz commented on #19
You're right - I will pass `--homedir` to the gpg binary.

[2016-08-05 10:54] #19 closed

[2016-08-05 16:16] romanz commented on #18
Curve25519-based ECDH works with GPG [2.1.7+](https://git.gnupg.org/cgi-bin/gitweb.cgi?p=gnupg.git;a=commit;h=e5891a82c39997b65ce9ff90eb6120db7bedd399).

[2016-08-05 16:18] romanz commented on #18
`ed25519-donna` seems to have the needed [piece](https://github.com/floodyberry/ed25519-donna/blob/master/ed25519.c#L125) for implementing ECDH.

[2016-08-05 18:46] romanz commented on #18
[curve25519-donna](https://github.com/agl/curve25519-donna) ECDH implementation may be useful for the TREZOR (since it's currently using [ed25519-donna](https://github.com/floodyberry/ed25519-donna) for signatures).

[2016-08-12 19:02] instagibbs opened #21 "[ledger] Can't force-push using trezor-git"
$ ~/Documents/project$ trezor-git push origin branchname -f
usage: trezor-git [-h] [-v] [-e CURVE] [--timeout TIMEOUT] [--debug]
                  [-r REMOTE] [-t]
                  [ARGUMENT [ARGUMENT ...]]
trezor-git: error: unrecognized arguments: -f

If you need any more help duplicating this let me know.

[2016-08-12 19:18] instagibbs opened #22 "[ledger] GPG Issues"
GPG version is 2.1.12

I created a key successfully, but when I try to use my secret key, it complains and the agent dies, with nothing showing up on my Ledger Nano S screen. Let me know what else you may need to diagnose this.

gpg: using "EA6311CA" as default secret key for signing (this appears to be the correct key)
gpg: signing failed: End of file
Traceback (most recent call last):
  File "/u

[2016-08-13 05:46] romanz commented on #21
Please try running: `trezor-git -- push origin branchname -f`
It seems that Python's `argparse` module gets confused when it gets a '-f' (as a part of the Git command) and try to associate it with `trezor-git` arguments.

[2016-08-13 06:11] btchip commented on #22
Random questions, did you set your TREZOR_GPG_USER_ID to a new identity or an already existing identity in your keyring ? Is it a primary key ?

[2016-08-13 06:12] romanz commented on #22
It seems to fail due to incorrect hashing algorithm required for GPG signature:
https://github.com/romanz/trezor-agent/blob/master/trezor_agent/gpg/agent.py#L42

Could you verify that you are using the correct ECDSA GPG key for signatures (i.e. is `EA6311CA` the newly created key)?

[2016-08-13 07:26] romanz commented on #22
Please try this commit to see the actual hash ID:
https://github.com/romanz/trezor-agent/commit/030ae4c3f625ff2822686f16f6100ded555eb2cf

[2016-08-13 07:47] btchip opened #23 "Documenting GPG key creation time for backup"
There's already an option to set it - but it's IMHO important to highlight in the documentation that users should write it down / assign a fixed value when creating the key as this part is not available on device, and would prevent from generating a key with the same ID when restoring.

It could also be part of a wider abstraction for devices offering a secure RTC.

[2016-08-13 13:15] instagibbs commented on #21
Ok works thanks.

[2016-08-13 13:15] #21 closed

[2016-08-13 13:37] instagibbs commented on #22
@btchip

My user ID is unique, I appended "Ledger" to make sure I could find the new key.

@romanz

That is the newly created/imported one yes.

AssertionError: Unsupported hash algorithm ID 10

[2016-08-13 14:09] romanz commented on #22
Hash algorithm ID 10 is SHA512: https://tools.ietf.org/html/rfc4880#section-9.4
It's a bit weird, because the public key is created with SHA256 (algorithm ID 8) here: https://github.com/romanz/trezor-agent/blob/master/trezor_agent/gpg/encode.py#L98

[2016-08-13 14:11] romanz commented on #22
Could you please post here the your public key's PGP packets?
[code]

[2016-08-13 14:12] instagibbs commented on #22
# off=440997 ctb=88 tag=2 hlen=2 plen=121
:signature packet: algo 19, keyid 8FAF3E989DB82B1A
        version 4, created 1471014120, md5len 0, sigclass 0x13
        digest algo 8, begin of digest 77 2e
        hashed subpkt 2 len 4 (sig created 2016-08-12)
        hashed subpkt 11 len 1 (pref-sym-algos: 9)
        hashed subpkt 27 len 1 (key flags: 03)
        hashed subpkt 21 len 1 (pref-hash-algo

[2016-08-13 14:26] instagibbs commented on #22
Ok thanks to @btchip got this fixed. I had SHA512 as the first `personal-digest-preference`. I changed this to SHA256 and good to go. I had changed it because GPG had decided SHA1 was the best default :)

[2016-08-13 14:29] instagibbs commented on #22
Ok, we might want to note that the key for signing is chosen via the environment variable that is set, and if you have 2 keys with the same uid, it just picks one(first in list-keys?)

[2016-08-13 18:05] romanz opened #24 "Handle gpg-agent socket correctly for GPG 2.1.13+"
Since [Juny 8th, 2016](https://git.gnupg.org/cgi-bin/gitweb.cgi?p=gnupg.git;a=commit;h=aab8a0b05292b0d06e3001a0b289224cb7156dbd), GPG uses `/run/user/UID/gnupg` instead of `~/.gnupg`.
We should use:
[code]

[2016-08-15 13:59] instagibbs commented on #23
AFAICT, there is no way, outside of setting `-t` during creation, to actually see what the exact timestamp is. I haven't been able to find such an option in gpg anyways. So outputting the timestamp at a minimum without the `-t` option would be very useful.

[2016-08-15 18:41] romanz commented on #23
@btchip @instagibbs what do you think about https://github.com/romanz/trezor-agent/commit/27a3fddfa2c32922bd48a5e46bc95a90f24573e0?

[2016-08-15 18:59] #24 closed

[2016-08-15 19:03] romanz commented on #22
@instagibbs good point - currently `trezor-agent`'s code doesn't support this case.
I will take a look and try to make it work...

[2016-08-15 19:05] btchip commented on #23
looks good to me

[2016-08-15 19:53] instagibbs commented on #23
LGTM

[2016-08-15 20:28] #23 closed

[2016-08-25 02:53] rustyrussell opened #25 "GPG pip install fail"
[code]

Indeed, there's no gpg-agent branch to be found on github?  Seems it's merged and instructions not updated?

[2016-08-25 02:56] rustyrussell opened #26 "GPG subkey creation fails"
[code]

[2016-08-25 07:12] romanz commented on #25
Thanks for reporting this issue!
I indeed forgot to update the documentation...

[2016-08-25 08:35] romanz commented on #26
Thanks for reporting this issue!

In order to create a subkey, trezor-agent needs to sign the new subkey using the existing GPG primary key.
In order to do that, I am using the first keygrip from the stdout of `gpg2 --list-keys --with-keygrip $TREZOR_GPG_USER_ID` but it seems that in this case it returned without any output...

Could you please check if this primary key is available for signature

[2016-08-25 08:40] romanz commented on #25
Unfortunately, I am currently away from my computer... I will fix the documentation during the weekend, when I'll return home.

[2016-08-25 20:29] rustyrussell commented on #26
Roman Zeyde <notifications@github.com> writes:

$ gpg2 --list-keys --with-keygrip $TREZOR_GPG_USER_ID
pub   rsa4096/D1ADB8F1 2011-10-18 [SC]
      Keygrip = A31CA6ACCE5C1E12D6B7E127BE2916E4BFFBD3E6
uid         [ultimate] Rusty Russell <rusty@rustcorp.com.au>
sub   rsa4096/7E499676 2011-10-18 [E]
      Keygrip = F0AEF257D9F1C247807BA7CB3A425E04890D05A9

Weird, perhaps $TREZOR_GPG_USER_ID was unset.

[2016-08-25 22:59] romanz commented on #26
Great, it seems that it worked correctly :)

trezor-agent usually adds 2 subkeys: one for signatures (448BC714) and one for encryption (5268EBAE). You can delete each one of them, using `gpg2 --edit-key` command, but IIUC it should work now as-is:
https://github.com/romanz/trezor-agent/blob/master/README-GPG.md#2-generate-a-new-subkey-for-an-existing-gpg-identity

[2016-08-26 07:29] romanz commented on #26
You can try to see if the new subkey works for GPG signatures using the following commands:

[code]
https://github.com/romanz/trezor-agent/blob/master/README-GPG.md#sign-and-verify-gpg-messages

[2016-08-27 18:13] romanz commented on #25
Fixed at https://github.com/romanz/trezor-agent/commit/d63f048b7845646c91741415469749725157fd82

[2016-08-27 18:13] #25 closed

[2016-08-27 18:18] romanz opened #27 "Generate revocation certificate for TREZOR-based GPG keys"
https://www.gnupg.org/faq/gnupg-faq.html#generate_revocation_certificate

[2016-09-03 11:21] fansari opened #28 "Wrong permissions in protobuf library"
Perhaps it should be mentioned in the the README (or better: be fixed) that the protobuf library comes with wrong permissions. Running as unprivileged user I got this error:

[code]

A workaround is fixing the probobuf permsisions manually:

`chmod  -R o+r /usr/lib/python2.7/site-packages/protobuf-3.0.0-py2.7.egg`

See also here:
[https://github.com/google/protobuf/issues/737](https://github.com/g

[2016-09-03 13:51] fansari commented on #22
I have a similar issue but perhaps just some stupid mistake.

The setup of the gpg key works. But then the first test fails:
[code]

[2016-09-03 13:53] romanz commented on #28
Thanks for reporting this issue!
I will keep it here and update the documentation.

[2016-09-03 13:58] romanz commented on #22
Could you please run the following command to see if there are multiple keys with the same user ID:

[code]

[2016-09-03 14:03] fansari commented on #22
[fansari@bat ~]$ gpg2 -k $TREZOR_GPG_USER_ID
pub   nistp256 2016-09-03 [SC]
      4D458E043BFA312ABCF24DA8754A6607A3732797
uid           [ultimate] Frank Ansari <mail@frank-ansari.de>
sub   nistp256 2016-09-03 [E]

[2016-09-03 17:38] romanz opened #29 "GPG 2.1.13 signature fails to find the private key on TREZOR"
Reported by @fansari at #22:

The setup of the gpg key works. But then the first test fails.

$TREZOR_GPG_USER_ID is set and "trezor-gpg agent" was started.

[code]

In case you need this information:

[code]

[2016-09-03 17:38] romanz commented on #22
Well, it seems indeed as a different issue :(
I have opened #29 - let's continue the discussion there.

[2016-09-03 18:27] romanz commented on #29
Could you please run `trezor-gpg -v agent &` before running `gpg2 -v --sign`, and post both the outputs?
If it's possible, I would be happy if you could use https://asciinema.org/ to record a screencast of the failure...

[2016-09-04 16:07] fansari commented on #29
[code]

[code]

[2016-09-04 16:22] fansari commented on #29
[code]

[code]

[2016-09-04 19:24] romanz commented on #29
It seems that the trezor-agent listens on a different socket than the GPG binary is connecting to.
Could you please run:

[code]

to see where GPG tries to connect to?

BTW, which GPG version are you using?

[2016-09-05 18:40] fansari commented on #29
[code]

[2016-09-05 19:04] romanz commented on #29
Could you please update `trezor-agent` to the latest version from GitHub, to include https://github.com/romanz/trezor-agent/commit/05fada91d267a7171e044c8f523d37c03b1e15ec (which should hopefully solve this issue)?

[2016-09-05 19:14] fansari commented on #29
As far as I could see your changes are only in the master branch. I am using the ledger branch.

[2016-09-05 19:17] romanz commented on #29
Oops, you're right - I forgot to merge it back to master...

[2016-09-05 19:23] fansari commented on #29
OK - then tell me when it will be availbale in the ledger branch. I will test again then.

[2016-09-05 19:30] romanz commented on #29
Please take a look :)

[2016-09-05 19:38] fansari commented on #29
Seems to work. I have tested this:
[code]
Now "bla" is some binary file which I can verify.

[2016-09-05 19:42] romanz opened #32 "Create correct GPG subpackets (according to OpenPGP RFC)"
https://tools.ietf.org/html/rfc4880#section-5.2.3.1

Following #30, [this code](https://github.com/romanz/trezor-agent/blob/master/trezor_agent/gpg/protocol.py#L52) should be changed as well.

[2016-09-05 19:53] romanz commented on #29
Great!
You're welcome :)

[2016-09-05 19:53] #29 closed

[2016-09-11 19:15] romanz commented on #26
@rustyrussell
I just wanted to know if the procedure above worked well for you...
If it's still an issue, please let me know :)

[2016-09-15 11:05] #26 closed

[2016-09-26 07:44] Flink opened #34 "[Question] What’s the correct workflow to use?"
Hi!

I’m just trying to use my TREZOR as a SSH agent and I find it really difficult to actually use it for this. Everytime I’m using `trezor-agent` or `trezor-git` it asks me for my PIN and then to confirm the use on the TREZOR. So how is it usable on a day-to-day basis?
What am I missing here?

Thanks :)

[2016-09-26 19:31] romanz commented on #34
Thanks for reporting this issue!
It was happening due to the following call to `clear_session()`:
https://github.com/romanz/trezor-agent/commit/bf598435fb3a4075d7ff0de7d69c6137cb96b374#diff-aea63b272e483857ce8fac4c1adf6813L38

After the fix above, the devices would require a single PIN entry during a session of multiple SSH commands. It would still require manual confirmation for each SSH authenti

[2016-09-27 16:58] Flink commented on #34
@romanz Ok cool! And is it possible for the trezor-agent to manage multiple identities at once? (like a normal ssh-agent)

[2016-09-28 10:44] romanz commented on #34
Yes, you can use different SSH identities - e.g. by using the following aliases:
[code]

[2016-09-28 12:01] #22 closed

[2016-09-28 15:19] #32 closed

[2016-09-28 15:29] romanz commented on #11
Now the installation should be even simpler:

[code]

[2016-09-28 16:45] Flink commented on #34
@romanz So that’ll work because it’s a one time operation it seems. I just tried to use `trezor-agent -c` to two different machines (so with different identities) in two tabs in tmux and while a connection is established to one of the machine, the second one can’t be established because of this error:
[code]

[2016-09-29 06:13] essank commented on #18
it's look interesting, can I help you with it?

[2016-09-29 18:38] romanz commented on #18
Gladly :)
Are you familiar with GPG implementation of Curve25519?
If so, I'd be happy to get some help with re-creating its functionality using Python module from https://github.com/agl/curve25519-donna/tree/master/python-src/curve25519?

[2016-10-01 07:27] dekoza opened #36 "Poor Python 3 support"
The tests are passing for Py3 although when I run `trezor-gpg agent` I get this:

[code]

Nevertheless I'm working on a solution :smile:

[2016-10-01 08:02] dekoza commented on #36
`keepkeylib` is not Py3 compatible :disappointed:

[2016-10-01 08:44] romanz commented on #36
Thanks for reporting this issue and the fixes :)

[2016-10-01 08:50] romanz commented on #34
No problem :)
IIUC it seems that even trezorctl does not allow to simultaneously opening two connections to the TREZOR...
@prusnak Is there a way to concurrently use the TREZOR from two separate processes from Python?

[2016-10-01 10:00] dekoza commented on #36
I know. I'm wondering if we could switch `keepkey` for `python-trezor.trezorlib` - it looks like they fixed the Py3 issues there as It Works For Me™ :wink:

I'll investigate and post appropriate patch in case of success.

[2016-10-01 10:04] dekoza commented on #36
Wait a minute... :stuck_out_tongue: `trezorlib` *is* being used :laughing: Silly me.

[2016-10-01 15:43] dekoza opened #39 "How about using `cryptography` library?"
https://cryptography.io/

What do you guys think about this lib? Would it be helpful? Maybe it could simplify the code? I'm digging into it :smiley:

[2016-10-04 07:53] romanz commented on #39
Thanks for the heads up :)
I was using `ecdsa` and `ed25519` Python packages mainly for parsing elliptic curve public keys, and validating signatures (before the firmware implementation was ready).
However, it seems that currently `cryptography` package does not support NIST256 and Ed25519 curves...

[2016-10-04 07:53] #39 closed

[2016-10-04 08:18] #36 closed

[2016-10-04 20:21] romanz commented on #34
I guess that the correct way is opening a connection to the TREZOR on demand, and not using a long-lived connection, which is preventing other Python-based apps to use the TREZOR.

[2016-10-09 19:53] romanz commented on #18
Curve25519 ECDH is using Montgomery ladder: https://git.gnupg.org/cgi-bin/gitweb.cgi?p=libgcrypt.git;a=blob;f=mpi/ec.c;h=26dd94788102eff35c27e82292a0485a18339cbe;hb=f8241874971478bdcd2bc2082d901d05db7b256d#l1304.

[2016-10-11 00:03] guruvan opened #45 "GPG operations fail PIN entry"
Using latest from master & trezor 0.7.5 I'm unable to perform any gpg operations requiring a pin

this command
[code]
produces a usable, and different, not echoed to the terminal pinentry than when I run
[code]
 Which uses some other method which echoes the pin (scrambled, of course) to the terminal - since scramble this is ok, but this will not accept an  ```enter``` key - so doesn't allow the pi

[2016-10-11 04:43] romanz commented on #45
Thanks for reporting this issue!

[2016-10-11 05:40] romanz commented on #45
This bug happens since the PIN entry should be handled by `trezor-gpg agent` process, which is running in the background.
`trezor-gpg` requests the PIN but cannot read it from stdin (since it's not the foreground process), so the entered scrambled PIN is written to `gpg`'s stdin instead.

[2016-10-11 05:52] romanz commented on #45
As a temporary workaround, you can launch the `trezor-gpg agent` process in a separate window (in foreground mode - without the trailing `&`), so the PIN entry could be done there (separately from the GPG signing/decryption processes).

[2016-10-11 16:00] infertux opened #46 "Strange error message about keepkey"
I'm getting this weird error message whenever I run `trezor-agent`:

[code]

Everything seems to work properly though. I guess it's working because it can still load `trezorlib` [there](https://github.com/romanz/trezor-agent/blob/master/trezor_agent/factory.py#L230)?

If `keepkeylib` isn't strictly required, should this message be a friendly warning or maybe only displayed with `--debug`?

---

I'

[2016-10-11 16:13] infertux commented on #46
Ha, it looks like this was fixed in cf27b345f60fd03b00acf55a765674923efbf025. Any plan to cut a new release soon? :)

[2016-10-11 18:38] romanz commented on #46
Thanks for reporting this issue :)
I'll prepare a new release tomorrow.

[2016-10-12 16:20] romanz commented on #46
PyPI is updated with [v0.7.1](https://pypi.python.org/pypi/trezor_agent/0.7.1)

[2016-10-12 16:20] #46 closed

[2016-10-12 16:41] infertux commented on #46
Thanks a lot @romanz. Much appreciated.

However I'm still getting those scary "error" messages which should just be simple warnings without any traceback IMO:

[code]

My Python is a bit rusty but I could come up with a PR for that if you think it's a good idea? Maybe something like:

[code]

[2016-10-12 18:16] romanz commented on #46
Thanks for reporting this and sorry for the issue.
Hopefully, it should work now:

[code]

[2016-10-12 18:17] romanz commented on #46
If this works for you, I'll prepare a new release :)

[2016-10-12 20:28] infertux commented on #46
Thanks again @romanz. I just tried 26435130d7677aa35fb66e144233a74b9fa4ba49 and I can confirm it works great. No need to make a new release just for this though - this isn't urgent/critical ;)

[2016-10-14 09:10] dmytroleonenko opened #49 "GPG subkey fails on OSX 10.10.5 homebrew python 2.7"
[code]

[code]

latest trezor (git) and trezor_agent(git)
trezor firmware 1.4.0

**The issue:**
[code]

[2016-10-14 13:06] prusnak opened #50 "Agent opens TREZOR U2F interface thinking it is regular HID"
For some reason you don't use the provided enumerate method, but ended up writing your own. Your code does not perform any check for usage_page nor interface number like defined in our [transport_hid.py](https://github.com/trezor/python-trezor/blob/master/trezorlib/transport_hid.py#L23). This leads to opening U2F interface from time to time resulting in https://github.com/trezor/python-trezor/issu

[2016-10-14 17:54] romanz commented on #50
IIUC, `HidTransport.enumerate()` is an alias to the correct `enumerate()` function, so the current code should work - by yielding the first interface (wrapped by `ClientWrapper`).
I think that the issue is not related to the enumeration logic, but is possibly caused by `enumerate()` returning [list(devices.values())] (https://github.com/trezor/python-trezor/blob/master/trezorlib/transport_hid.py#L

[2016-10-14 18:05] romanz commented on #50
@dmytroleonenko Could you please take a look?
The latest [version](https://github.com/trezor/python-trezor/commit/d1397c779c273997d6e313724500340dc2584b95) of `python-trezor` should have https://github.com/trezor/python-trezor/issues/76 fixed.

[2016-10-14 18:13] romanz commented on #49
First of all, thanks for trying out `trezor-agent` GPG feature and for reporting this issue :)

It seems that you are using 2.0.30 version of GPG - which may be problem, since ECDSA (and Curve25519) was added to GPG only at 2.1.x branch (https://www.gnupg.org/faq/whats-new-in-2.1.html#ecc).

Also, could you please run `$ gpg2 --export "${TREZOR_GPG_USER_ID}" | gpg2 --list-packets` command and past

[2016-10-14 18:22] romanz commented on #49
Could you please also re-run the command, but with more verbose logging, using:

[code]

Thanks in advance :)

[2016-10-14 21:05] romanz commented on #18
Also, add Curve25519 keygrip computation (from https://git.gnupg.org/cgi-bin/gitweb.cgi?p=libgcrypt.git;a=blob;f=cipher/pubkey.c;h=8ec15fd410e91a21963a145189f02bbbbc16af9b;hb=HEAD#l618)

[2016-10-16 18:35] romanz commented on #18
It should work now, with the latest TREZOR firmware version (https://github.com/trezor/trezor-mcu/pull/120) and the latest `trezor-agent` (https://github.com/romanz/trezor-agent/pull/51)

[2016-10-16 18:35] #18 closed

[2016-10-16 18:36] #50 closed

[2016-10-16 21:55] fruitloop opened #52 "AssertionError - Keygrip mismatch at `trezor-gpg agent` during sign operation"
Hi,
My Setup is: OS X 10.11.5, trezor (0.7.4), trezor-agent (0.7.2), Trezor Firmware 1.4.0

When I use trezor-gpg -v agent, I sometimes get this error:

[code]
Sometimes everything works fine for two or three times, and then I get this error for the rest of the day.

Is there something wrong with my Python installation?

Best Regards
Roland

[2016-10-17 05:53] romanz commented on #52
Thanks for reporting this issue!

Could you please run `$ gpg2 --export "${TREZOR_GPG_USER_ID}" | gpg2 --list-packets` command and paste the resulting public keys' structure here? This would help me understand and reproduce the problem :)

[2016-10-17 08:11] romanz commented on #52
Also, could you please re-run the `gpg2 --sign` command with the latest version (https://github.com/romanz/trezor-agent/commit/79b6d31dfe8bba5c3f27c5f3a011e5a658d87400) of `trezor-agent`?
It should now include the mismatching keygrips in the exception itself...

[2016-10-17 08:58] fruitloop opened #53 "Exception: Unexpected magic characters"
Hi,
My Setup is: OS X 10.11.5, trezor (0.7.4), trezor-agent (0.7.2), Trezor Firmware 1.4.0

When I use trezor-gpg -v agent, I sometimes get this error:
[code]

[code]

[code]

Hope that helps

Best regards
Roland

[2016-10-17 08:58] fruitloop commented on #52
Hi, thanks for the fast response

[code]

[code]

I updated trezor-agent and ran it again
[code]
I didn't see the debug code you added however.

But when I tried it a second time (restarted trezor-gpg -v agent in one terminal and reran the git --gpg-sign command in the second) the agent crashed with a whole new exception.

I opened another issue here: https://github.com/romanz/trezor-agent/issues/

[2016-10-17 09:04] romanz commented on #53
This is most probably due to https://github.com/trezor/python-trezor/issues/76.
It should be fixed by https://github.com/trezor/python-trezor/pull/77 - which is probably not yet released to PyPI, so you can install the latest `python-trezor` version directly from GitHub.

[2016-10-17 09:09] romanz commented on #53
@prusnak Could you please create a new PyPI release for `python-trezor` including  https://github.com/trezor/python-trezor/pull/77 fix?

[2016-10-17 09:12] fruitloop commented on #53
Thanks, I ran the update from github and now It is back with the old Assertion Error described in https://github.com/romanz/trezor-agent/issues/52

[2016-10-17 09:14] romanz commented on #52
Thanks for uploading the debug log, it really helps!

Note that the GPG agent got a request to sign with keygrip `E8AAD7A22972124DB68075FD64F070D221C2FD67`, which is not part of your GPG identity:
[code]
So the assertion seems to work as intended :)

It seems like `git` tries to use another key to sign the commit, which is not part of your TREZOR-based GPG key. Could you please run `$ gpg2 -k --wi

[2016-10-17 09:16] romanz commented on #53
(marking as duplicate of #50)

[2016-10-17 09:16] #53 closed

[2016-10-17 09:17] fruitloop commented on #52
[code]

Seems not, but I did try this a few days ago with test keys I deleted already.
I did remove the keys from my github account and add the actual key (github@planitz.at)

Hope that helps

[2016-10-17 09:26] romanz commented on #52
I think that `git` is trying to use your 2nd GPG identity "Roland Planitz <roland@planitz.at>" instead of the 1st.
Please try running:
[code]
to see if it chooses the correct GPG key (and the verification works as intended).
If so, you can use:
[code]
to explicitly specify your TREZOR-based GPG key.

[2016-10-17 09:30] romanz opened #54 "Use keygrip for selecting and loading the correct GPG key"
Currently, we are using TREZOR_GPG_USER_ID to load the public key using `gpg2 --export` and then validating that we use the correct key via keygrip comparison - which can be simplified significantly by just computing the keygrips for all the keys available and choosing the correct one - or printing a human-readable error message when no key is found.

[2016-10-17 09:31] romanz commented on #54
See #52 for context.

[2016-10-17 09:35] romanz commented on #36
Now GPG feature should also work on Python 3: https://github.com/romanz/trezor-agent/commit/65d2c04478837b96709e258c50b9fad95b555782

[2016-10-17 09:55] romanz commented on #52
BTW, you can verify you Git user.name and user.email configuration using:
[code]
Maybe those are misconfigured, causing Git to choose the "Roland Planitz <roland@planitz.at>" GPG identity?

[2016-10-17 09:57] fruitloop commented on #52
[code]
That works fine, no crashes.

I ran `it config --local user.signingkey 7E9266BFAA9BE177D92DDAFB51F3833053F2E698`
and now my .git/config shows this:
[code]

but still:
[code]

[2016-10-17 10:16] romanz commented on #52
Maybe the `python-trezor` installed at `/usr/local/lib/python2.7/site-packages/` is still the old one?
Could you please check `/usr/local/lib/python2.7/site-packages/trezorlib/transport_hid.py` file for the `enumerate()` function?
It should end with `return sorted(devices.values())` in the latest version (https://github.com/trezor/python-trezor/pull/77)?

[2016-10-17 10:20] romanz commented on #52
The "Unexpected magic characters" error happened due to wrong interface being chosen - U2F instead of HID (since the previous code used `return list(devices.values())`, whose order of elements is unpredictable for Python dictionaries).

[2016-10-17 10:28] fruitloop commented on #52
It did in fact end in `return list(devices.values())`
so I ran `pip uninstall trezor`
then I installed python-trezor from git again and now it is working.
the file you specified however is now missing!?

is the file supposed to go missing?

[2016-10-17 11:18] romanz commented on #52
Maybe it's installed now somewhere else?
Could you please run:
[code]
It should print the path of the module it is using for communication with the TREZOR.

[2016-10-17 11:26] fruitloop commented on #52
thanks it did indeed change the path
[code]
Now everything seems to work.
Thanks again

best regards
roland

[2016-10-17 11:27] romanz commented on #52
You're welcome :)
Many thanks for using this package and helping debugging the issue!

[2016-10-17 11:27] #52 closed

[2016-10-17 11:28] romanz commented on #49
@dmytroleonenko ping :)

[2016-10-17 14:58] romanz opened #55 "Update "trezorlib" dependency after new PyPI release"
In order to resolve https://github.com/trezor/python-trezor/pull/77 issues for <=v0.7.4 [versions](https://pypi.python.org/pypi/trezor).

[2016-10-17 14:59] romanz commented on #55
References from https://github.com/romanz/trezor-agent/issues/53#issuecomment-254153593.

[2016-10-17 22:19] fruitloop opened #56 "trezor-agent - ssh still asking for password of server"
Hi,
My Setup is: OS X 10.11.5, trezor (0.7.4), trezor-agent (0.7.2), Trezor Firmware 1.4.0

At the time I use an RSA Key to connect to my server. It does connect without asking for any password.

I added the public key generated by `trezor-agent planitz.at` to the .ssh/authorized_keys.

When I now try to connect to my server with `trezor-agent -c` it does still ask for my password on the server.

[2016-10-18 05:34] romanz commented on #56
Thanks for reporting this issue!

Could you please re-run the connection command with more verbose logging?
[code]

Also, could you post the local version of SSH?
[code]

[2016-10-18 09:24] fruitloop commented on #56
[code]
[code]

[2016-10-18 10:41] romanz commented on #56
So the SSH version is correct and it seems that the SSH binary successfully connects `trezor-agent` (since it calls it `list_pubs()` API).

Maybe the issue here is that you are not using the same username on the local and the remote machines? Sometimes SSH uses the incorrect username without prompting the user...

Could you please run `ssh planitz.at -- whoami` (and connect using a password)?
It s

[2016-10-18 11:06] romanz commented on #56
You can also check if the `.ssh/authorized_keys` (containing the SSH public key, generated by `trezor-agent`) is under `/home/roland` on the remote server. If it's not there, please add it there - and re-try signing in again.

[2016-10-18 11:08] fruitloop commented on #56
Oh sure, I could have noticed that in the debug log.
The User is in fact not roland.
I tried with right_user@planitz.at and it worked just fine.
The `.ssh/authorized_keys` is fine.

Is there a way to "save" the user for that url? or do I have to type it every time I try to connect?

[2016-10-18 11:11] romanz commented on #56
Yes, you can regenerate the public key with `trezor-agent  right_user@planitz.at`, and then use:
[code]
to connect using the `right_user` username (via the `-l` SSH [flag](https://github.com/romanz/trezor-agent/blob/master/trezor_agent/__main__.py#L23)).

[2016-10-18 11:20] fruitloop commented on #56
I ended up using an alias to call trezor-agent

How does the -l flag work exactly?

[2016-10-18 11:26] romanz commented on #56
You can use `ssh -l right_user planitz.at` but it's quite the same as `ssh right_user@planitz.at`, so the aliasing solution should work as well.

From `ssh` man page:
[code]

[2016-10-18 11:26] #56 closed

[2016-10-18 11:38] fruitloop commented on #56
oh I see, thanks

[2016-10-18 11:44] romanz commented on #56
You're welcome :)

[2016-10-18 12:25] fruitloop opened #57 "github is rejecting my trezor-agent key"
Hi,

I am trying to connect to git with my trezor.

To verify I tried to connect via ssh.

It prints me the fingerprint of the public key for the trezor key, and in my github settings the fingerprint matches. Github still ends every ssh connection with `Permission denied (publickey).`

I tried the `nist256p1` as well as the `ed25519` curve just to be sure.

[code]

Any thoughts?

best regards
rola

[2016-10-18 13:03] romanz commented on #57
Very weird...
Could you please run the SSH command explicitly with (more verbose logging) using:
[code]

[2016-10-18 13:19] fruitloop commented on #57
I don't see any "Server accepts parts"
[code]

[2016-10-18 13:44] romanz commented on #57
The really weird thing is that it doesn't even try to offer the TREZOR-based SSH key...

When I run it (after revoking the SSH key from GitHub, to simulate authentication failure), it prints:
[code]

[2016-10-18 13:47] romanz commented on #57
Could you please check your `~/.ssh/config` file for some kind of configuration which may cause this issue?
BTW, are the any other SSH servers that show similar symptoms?

[2016-10-18 13:52] romanz commented on #57
I've also noticed that you are using SSH 6.9 (which is newer than my version, 6.7).
I'll try to upgrade my version to see this can reproduce the error...

[2016-10-18 14:02] romanz commented on #57
Also, I remember that long time ago using connection multiplexing caused some weird issues with `trezor-agent`. Could you please try running:
[code]
(please add the `-vv` flags for even more verbose logging...)

[2016-10-18 15:42] fruitloop commented on #57
My .ssh/config looks like this
[code]
I disabled every entry on github before I tried the trezor-agent

Since I figured out that I have to specify the user as well all other ssh servers work ;)

[code]

I tried disabling everything in my ssh config and tried again:
Now it asks me to conform on the trezor and logs in perfectly.

Then I tried reenabling every feature again and it crashes on these se

[2016-10-18 15:43] fruitloop commented on #57
So as long as `IdentitiesOnly yes` is commented out everything works fine.

[2016-10-18 15:52] romanz commented on #57
Thanks for detailed debugging and reporting of the solution!
I'll add this issue to the README file :)

[2016-10-18 15:52] #57 closed

[2016-10-18 17:09] #54 closed

[2016-10-19 23:07] martintreurnicht opened #59 "Not working with Ledger Nano S"
Using Ledger Nano S with firmware 1.2 on OSX 10.12

When i try and run `trezor-agent me@localhost`, i get the following error:

[code]

Device is plugged in and unlocked with pin, logged the same issue with ledger directly, here is the link:

https://github.com/LedgerHQ/blue-app-ssh-agent/issues/2

[2016-10-20 07:34] romanz commented on #59
Thanks for reporting this issue!

It indeed stopped working on my machine (Debian 8) after upgrading to the latest `ledgerblue` Python package version (0.1.8 from GitHub), even with the previous firmware versions (Secure Element: 1.1, MCU: 1.0).

When it works, it should print a public key when invoked like this:
[code]

However, now it fails also with:
[code]

@btchip Could you please take a look

[2016-10-20 08:16] romanz commented on #59
After resetting the device, it seems to work again:
[code]

[2016-10-20 09:00] romanz commented on #59
The "Invalid status 6e00" error happens after firmware upgrade, when the SSH/PGP app is not installed.

[2016-10-20 09:04] btchip commented on #59
yes, the only reason you'd get a 6e00 status is if you're not talking to the right app in the device (so if the GPG/SSH app is not currently running)

[2016-10-20 11:03] romanz opened #60 "Handle 'S PROGRESS need_entropy [...]' replies from gpg-agent"
This happened during RSA signature:

[code]

[2016-10-20 11:04] romanz opened #61 "Add Python 3 support for ledger-related code at factory.py"

[2016-10-20 12:49] romanz commented on #60
This can be reproduced by running `cat /dev/random` and killing `gpg-agent` before generating a subkey.

[2016-10-20 15:52] martintreurnicht commented on #59
@romanz Ah, sorry i didn't realize that i had to install a app, i guess it makes sense. I was actually looking for something under the settings but couldn't find it. I can confirm that this is now working for me. This is great!

[2016-10-20 16:23] romanz commented on #59
Thanks :)

[2016-10-20 19:47] #60 closed

[2016-10-21 14:49] #61 closed

[2016-10-21 14:49] romanz commented on #49
No reply from OP :(

[2016-10-21 14:49] #49 closed

[2016-10-21 15:09] romanz commented on #55
New version is released: https://pypi.python.org/pypi/trezor/0.7.6

[2016-10-21 15:09] #55 closed

[2016-10-22 15:47] fansari opened #62 "cannot open more than one session"
I found your explanation how to use multiple sessions with a sub shell.

https://asciinema.org/a/33240

For me this does not work. First of all I have to export  SSH_AUTH_SOCK and SSH_AGENT_PID before I can do "ssh-add -L".

After I have done this I can ssh a host from this window or open another Gnome terminal and ssh from there.

But: once one connection is opened I cannot open a second one.

Lo

[2016-10-22 15:49] fansari commented on #62
[ssh.txt](https://github.com/romanz/trezor-agent/files/545863/ssh.txt)

[2016-10-22 18:03] romanz commented on #62
Could you please add the log of the Bash commands you have used to reproduce the error?

[2016-10-23 12:10] romanz commented on #62
I noted that your log file is missing "`debug2: key: [...]`" lines (see the attached [ssh-log.txt](https://github.com/romanz/trezor-agent/files/546319/ssh-log.txt), for `key: ssh://foobar (0x7f31374769f0)` line).
There lines should tell us which public keys are being presented to the server by the `ssh` binary.
One of them should be the public key generated by `trezor-agent`.

[2016-10-23 12:25] fansari commented on #62
=== Succesful login on first console ===

[fansari@bat ~]$ trezor-agent -v -s moon
2016-10-23 14:20:16,919 INFO         getting "ssh://moon" public key (nist256p1) from ledger...                                           [client.py:51]
=> 8002000115058000000db7e3cf21bfcdf956ea5424a4ded1fd68
<= 41041b6e586a2598588fd4ffa3470546446c59a950e7b36b9144b9ee0ce78855ff595b0cb88aeb1093c71eece8e02b45092766d56

[2016-10-23 13:57] romanz commented on #62
It seems that the first `ssh` connection doesn't close the `ssh-agent` socket after the authentication (note the missing `goodbye agent` message from the first `ssh moon` log).
BTW, which SSH version are you using (`ssh -V`)?

[2016-10-23 13:59] romanz commented on #62
The fix should be easy though - just handle multiple connections in parallel, while holding a mutex for device-related operations.

[2016-10-23 14:39] romanz commented on #62
Please try commit https://github.com/romanz/trezor-agent/commit/97efdf4a45d503ec776d89c427f1b4a1522f2aa4 (from https://github.com/romanz/trezor-agent/commits/concurrent-handler branch). It should allow handling new singature requests, even if the previous connections are kept alive.

[2016-10-23 17:51] romanz opened #63 "Handle other digest algorithms for GPG"
See https://github.com/romanz/trezor-agent/issues/22#issuecomment-239623499 for details.
We should ensure however at least 256 bits' digest.

[2016-10-23 18:10] romanz commented on #63
Can be reproduced by adding `personal-digest-preferences SHA512` to `gpg.conf` file.

[2016-10-24 09:09] romanz opened #65 "Use `--agent-program` at `gpg.conf` (to launch `trezor-gpg agent`)"
Instead of launching manually it via `gpg-shell`.

[2016-10-24 13:50] romanz commented on #63
Should be work with the latest TREZOR firmware (including https://github.com/trezor/trezor-mcu/pull/124)

[2016-10-24 13:50] #63 closed

[2016-10-24 16:30] #65 closed

[2016-10-24 18:25] fansari commented on #62
I haved tested it. This is an improvement. I can now login with more than one shell.
But: this is only true if I login multiple times to the same machine.

How can I use the trezor-agent to have multiple ssh sessions to multiple hosts?

[2016-10-24 18:45] romanz commented on #62
Currently it's not supported, since the SSH identity is specified once, when launching `trezor-agent` :(
The tracking issue for this bug (using `trezor-agent` concurrently with multiple identities) is #34.

[2016-10-24 18:58] #62 closed

[2016-10-24 19:01] romanz opened #68 "Allow opening multiple SSH connections with different identities concurrently"
Currently, `trezor-agent` "grabs" the USB device during the whole session, with a single SSH identity.

[2016-10-24 19:02] romanz commented on #34
Fixing this issue will be tracked by #68.

[2016-10-24 19:02] #34 closed

[2016-10-24 19:10] romanz commented on #45
The easiest solution for now will be to add an "unlock" operation when starting [gpg-shell](https://github.com/romanz/trezor-agent/blob/master/scripts/gpg-shell).

[2016-10-25 07:30] oohaysmlm opened #69 "Error with ./scripts/gpg-init on OS X"
Latest version of trezor-agent gpg-init script will not run on osx due to differences in sed options.

Need to change FINGERPRINT line from:
[code]

To:
[code]

Hope this can help someone else :).  Thanks for the trezor-agent Roman.

[2016-10-25 18:39] romanz commented on #69
Thanks for reporting this issue :)

[2016-10-25 18:39] #69 closed

[2016-10-28 19:50] romanz commented on #62
Please try [refactor-device](https://github.com/romanz/trezor-agent/commits/refactor-device) branch (following #70 PR).

[2016-10-30 18:59] romanz commented on #68
Should be solved by #70

[2016-10-30 18:59] #68 closed

[2016-10-30 20:10] romanz commented on #45
[code]

[2016-10-30 20:10] #45 closed

[2016-10-31 20:01] ulrichard opened #72 "SSHFS usage"
Can this also be used for sshfs?
If not, that would be cool.

[2016-10-31 20:47] romanz commented on #72
That's indeed a good question!
It should probably work - will test it tomorrow :)

[2016-11-02 19:39] ulrichard commented on #72
Cool, it somehow  works, but it's blocking.
It works in a second console for as long as the trezor-agent process is alive. When I terminate the blocking process with Ctrl+c, it is immediately unmounted.
This behaviour is different from raw sshfs, and it's not so cool for scripts like: https://github.com/ulrichard/locally_encrypted_remote_storage/blob/master/open_locally_encrypted_remote_storage.sh

[2016-11-02 20:23] fansari opened #74 "Cannot start trezor-agent anymore"
Hi,

when I install the latest version and run it I get this error message:

[code]

[2016-11-02 20:31] romanz commented on #72
This indeed sounds like a problem...
I'll take a look.

[2016-11-02 20:36] romanz commented on #74
Thanks for reporting this issue!
Maybe the [device](https://github.com/romanz/trezor-agent/tree/master/trezor_agent/device) package wasn't installed?
Could please try to install trezor-agent in a virtualenv, to see if there is a problem with the installation?

[2016-11-02 22:11] romanz commented on #74
Got it - the PyPI version is broken, since https://github.com/romanz/trezor-agent/blob/master/setup.py#L11 doesn't include `trezor_agent.device` package.
Will fix this tomorrow.

[2016-11-03 12:44] fruitloop opened #75 "Usage via SSH Config"
Hi,

With your help I managed to work out all the errors, so now I can use my Trezor to connect to my Servers.

It is however a pain to use the trezor-agent. So I was thinking how I could include the trezor-agent into my previous workflow using my `.ssh/config`.

I have these settings, but now I am stuck. Any Ideas?

My settings:
[code]
With that SSH should in theory call trezor-agent to open the

[2016-11-03 14:48] romanz commented on #74
Please try v0.7.6 from https://pypi.python.org/pypi/trezor_agent/

[2016-11-03 14:48] #74 closed

[2016-11-03 14:56] romanz commented on #72
Could you please elaborate what exactly is blocking?
Does the following command block?
[code]
On my machine, it blocks only until I confirm the connection on the TREZOR, and then it finishes, the SSHFS mount works correctly ([screencast](https://asciinema.org/a/27ojy2v7kljw6v8xcnrbrh95x)).

Also, which OS and SSH versions are you using?
[code]

[2016-11-03 15:06] romanz commented on #75
I think that ProxyCommand is intended to use with `netcat` (for ["host jumping"](http://askubuntu.com/a/311454/15495)):

[code]

[2016-11-03 16:42] fruitloop commented on #75
Hi, I noticed that the ProxyCommand is only mentioned with nectar or nc.
I thought it would be fun to try anyway.

a config file for the trezor-agent sounds nice. However I thought if I can use that "hack" to trick SSH I would be able to use SSH (and more important scp) as I was used to before.

[2016-11-03 17:49] romanz commented on #75
Actually, it may be even easier - I can add a new mode to the `trezor-agent`, in which the active SSH identities will be read from a configuration file each time an authentication is needed (instead from the command-line argument).
This way, you only need to run `trezor-agent -s` once, and then run all of your SSH-related operations in that SSH-enabled shell.

[2016-11-03 19:56] fansari commented on #74
This is working. I can login on multiple shells but still not to multiple machines.

[2016-11-03 20:00] ulrichard commented on #72
Yes it's exactly that command that does not return.
`
richi@XPS13ulr:~$ uname -a
Linux XPS13ulr 4.4.0-45-generic #66-Ubuntu SMP Wed Oct 19 14:12:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
richi@XPS13ulr:~$ ssh -V
OpenSSH_7.2p2 Ubuntu-4ubuntu2.1, OpenSSL 1.0.2g  1 Mar 2016
richi@XPS13ulr:~$ sshfs -V
SSHFS version 2.5
FUSE library version: 2.9.4
fusermount version: 2.9.4
using FUSE kernel interface

[2016-11-03 20:31] romanz commented on #74
Thanks :)
Great to hear!

[2016-11-03 20:37] romanz commented on #72
My versions are a bit different:
[code]

BTW, I managed to reproduce this behaviour by running:
[code]
(note the `-f` flag - causing the `sshfs` to stay in foreground).

[2016-11-03 21:00] romanz commented on #72
You can use the `-s` command line [flag](https://github.com/romanz/trezor-agent/blob/master/trezor_agent/__main__.py#L51), in order to run `sshfs` in the background.
See [here](https://asciinema.org/a/ecg7c8gn5vycypgxje1ea9cu2) for sample usage.

[2016-11-03 21:42] romanz commented on #75
Please try to test `ssh-ids` branch - it supports reading a list of identities from a file:
[code]
NOTE: you must start the path with `/`, otherwise the command-line parsing logic will regard it as a regular identity (and not as a file path).

[2016-11-04 19:12] romanz commented on #75
The code from #76 is now merged into the `master` branch, and you can test it by updating to `v0.8.0` version (from PyPI).

[2016-11-05 16:39] ulrichard commented on #72
That all works nicely with an interactive console, but so far I couldn't figure out how to use it in a script.

[2016-11-05 20:01] romanz commented on #72
You're right, it's quite hard to use it that way in a non-interactive script...

BTW, could you reproduce this issue using regular SSH keys (without `trezor-agent`):
[code]

[2016-11-05 20:41] ulrichard commented on #72
I didn't try with the standard ssh-agent yet, but I use it on a daily basis with gpg-agent acting as ssh-agent. It doesn't block there.
I have to say though, it works flawlessly on ubuntu 12.04 all the way through 16.04. But on 16.10 I didn't get the setup to work correctly yet.

[2016-11-06 17:33] guruvan commented on #45
Thanks @romanz I'll get this updated and give the new command a go! 👍

[2016-11-06 20:03] #75 closed

[2016-11-11 17:57] romanz opened #77 "Add GPA usage example"
![gnu privacy assistant - key manager_064](https://cloud.githubusercontent.com/assets/9900/20224804/053d7474-a849-11e6-87f3-ab07dc536158.png)

[2016-11-11 18:07] #77 closed

[2016-11-20 15:49] fruitloop opened #78 "Mac - GPG no longer working"
Hi, I just tried to use the trezor agent like this:

[code]

and in another window I try the following:
[code]

am I doing something wrong?

Best regards
Roland

[2016-11-20 16:55] fruitloop commented on #78
interesting. I updated trezor-agent via pip
and started the tremor-gpg agent with an -v flag and now it works again.

[2016-11-20 18:38] romanz commented on #78
Glad it works for you :)

By the way, the latest version is using [gpg-init](https://github.com/romanz/trezor-agent/blob/master/scripts/gpg-init) and [gpg-shell](https://github.com/romanz/trezor-agent/blob/master/scripts/gpg-shell) for easier creation and usage of your GPG keys.
You can see a demo screencast [here](https://github.com/romanz/trezor-agent/blob/master/README-GPG.md#quickstart).

[2016-11-20 20:09] fruitloop commented on #78
I saw that. But when I clone the repository and try the script I get:

[code]

[2016-11-20 20:42] romanz commented on #78
What version of `gpg-connect-agent` are you using?

[code]

[2016-11-20 20:46] romanz commented on #78
It seems to be mentioned on the `man` page for `gpg-connect-agent`:
[code]

[2016-11-20 21:46] fruitloop commented on #78
[code]

[2016-11-21 10:14] fruitloop opened #79 "MacPro installation fails to create `trezor-*` utilities"
Hi, on my MacBook Air I installed trezor-agent probably a month ago via pip install from the this git repository. That gave me the following tools:
[code]

On my MacPro however this wont  work anymore. There are no tools installed.
What is the proper way to install the agent at the moment?

Also the `trezorctl` command is no longer availlable.

Best regards
Roland

[2016-11-21 11:14] romanz commented on #79
Unfortunately, I don't have a Mac to debug the issue :(

[2016-11-21 11:32] romanz commented on #78
Very weird... I'll try to see if there is another option to start our custom gpg-agent automatically.

[2016-11-21 11:33] romanz commented on #72
Are there any updates about the Ubuntu 16.10 issue?

[2016-11-21 16:57] fruitloop commented on #79
So it seems that this is not a known behaviour due to updates?

[2016-11-21 18:49] romanz commented on #79
I think it's a Python-related issue - and not something that the latest changes may cause.

[2016-11-21 19:18] romanz commented on #78
In the meanwhile, you can replace the [call](https://github.com/romanz/trezor-agent/blob/master/scripts/gpg-shell#L10) to `gpg-connect-agent` by the following line:
[code]
A bit hacky, but will probably work :)

[2016-11-21 19:22] romanz commented on #78
By the way, could you try to build GPG 2.1.15 according to the following [instructions](https://gist.github.com/vt0r/a2f8c0bcb1400131ff51), and retry calling:
[code]
I suspect there is some difference between our GPG installations...

[2016-11-23 18:53] fruitloop opened #80 "GPG Agent Key Format"
Hi,

when I'm using my Trezor for SSH it gives me a nice format like:

[code]

All info nicely distributed over the display.

With GPG however I get something like:

[code]

the email address is barely visible.
I would much more prefer a format like with SSH maybe something like:

[code]

Is that something that could be done? I use several different Keys which differ only in the email address whic

[2016-11-24 15:37] fruitloop commented on #78
Hi, I managed to update gpg-connect-agent. It was installed, but another version was used by default.

I changed you script to `/usr/local/bin/gpg-connect-agent` rather than `gpg-connect-agent`.

Now I have one problem.

How do I initialize it when I already have the GPG Keys? On another Mac I already initialized the Keys and I wrote down the --timestamp value in order to recreate them.

Is there

[2016-11-24 17:44] romanz commented on #78
You can use the following format to re-generate the key:
[code]

[2016-11-24 18:36] fruitloop commented on #78
Thanks, I looked more closely at the script and rewrote it completely to import all of my 4 keys at once. I have some troubles at the moment, I'll post them if I can't fix them on my own.

[2016-11-24 22:33] fruitloop commented on #78
Ok I thing I found an error:

I called `trezor-gpg-create` and it seems to crash.
[code]

[2016-11-25 10:38] fruitloop opened #81 "trezor-gpg-agent create crashes"
I discovered an error in the `gpg-init` script.

`trezor-gpg-create` keeps crashing.

[code]

best regards
roland

[2016-11-25 18:57] romanz commented on #81
Please take a look at the latest version on GitHub - the issue seems to be caused by a change I made a month ago (https://github.com/romanz/trezor-agent/commit/1bd6775c35b55aed4187a31d7ac58c7b3587554a), which was causing the trezor-gpg-create to add the TREZOR-based GPG key as a subkey (instead of a primary key, which is probably what most users want).

[2016-11-25 18:58] romanz commented on #81
GPG key management is hard :(

[2016-11-25 19:30] romanz commented on #80
Thanks for the suggestion!
This is actually a very useful feature :)

Just to make sure I understand your use-case:
Are you using separate GPG signature/encryption keys for different identities?
Or, do you have multiple user IDs attached to the same GPG keypair?

[2016-11-25 19:32] romanz commented on #78
Closing this, as it seems that the original problem (related to `gpg-connect-agent`) is solved.

[2016-11-25 19:32] #78 closed

[2016-11-25 19:35] romanz commented on #80
BTW, could you post the output of `gpg2 -k` for your GPG identity, so I could understand better your scenario?

For example, my TREZOR-based GPG identity has a signature key, an encryption key and a single user ID:
[code]

[2016-11-25 19:53] fruitloop commented on #80
I don't like sub ids, so I basically have one key per email-address that serves a specific purpose:

[code]

Usage as stated in email, private key, keysigning key and codesigning key.
Therefore the relevant part (first part of email address is cut off almost every time ;))

[2016-11-25 20:07] romanz commented on #80
Thanks for the quick reply!
It's indeed a good use-case, which I didn't consider before...
I'll look through the code and see what can be done to support it.

[2016-11-26 09:23] romanz commented on #80
@prusnak @saleemrashid
What do you think?

[2016-11-26 09:39] romanz commented on #81
Should be fixed now: https://gist.github.com/romanz/a499fe55ff08ba037e26d4cec0e4b78d

[2016-11-26 09:39] #81 closed

[2016-11-26 10:43] prusnak commented on #80
I think it's a good idea to split

`Firstname Lastname <firstname@lastname.com>` (which does not fit)

into

[code]

[2016-11-26 11:13] fruitloop commented on #80
Maybe even:

[code]

That way we win another two characters and the <> chars are basically only usefull if the User Id is displayed in one line.

[2016-11-26 11:19] fruitloop commented on #79
I found the problem.
When I'm installing the packet using PIP it won't create the `trezor-*` packages.

When I clone the repository however and run `python setup.py build && python setup.py install` myself it creates all the necessary `trezor-*` packages.

[2016-11-26 11:19] #79 closed

[2016-11-26 11:46] prusnak commented on #80
Right!

[2016-11-26 11:50] saleemrashid commented on #80
@prusnak Correct me if I'm wrong, but this would have to be an exception in the trezor-mcu code. Just want to get everything clear and aleviate confusion :smile:

[2016-11-26 11:57] prusnak commented on #80
Yes.

[2016-11-26 11:57] romanz commented on #79
Thanks for reporting this!
I'll fix the README.

[2016-11-26 13:10] fruitloop commented on #81
It is indeed, thanks a lot

[2016-11-28 18:15] romanz opened #82 "Check for GPG 2.1+ to be installed and warn accordingly if it is missing"
Following https://github.com/LedgerHQ/blue-app-ssh-agent/issues/3

[2016-11-28 18:16] romanz opened #83 "gpg-shell/trezor-gpg-agent should check that the configuration file exists (and warn explicitly)"
https://github.com/LedgerHQ/blue-app-ssh-agent/issues/3

[2016-12-02 10:50] #82 closed

[2016-12-02 11:16] #83 closed

[2016-12-02 19:45] PowerPress opened #84 "Plans to add RSA Support?"
Plans to add RSA GPG support for those than do not trust elliptic curves? Thats main thing Yubikey and OpenPGP Smartcards have going for them.

[2016-12-03 08:06] romanz commented on #84
AFAIK, there are no current plans to add RSS support to TREZOR:
https://www.reddit.com/r/TREZOR/comments/3l8kxg/ssh_now_possible_with_trezor/cv4nsql

[2016-12-03 08:59] #84 closed

[2016-12-06 04:47] bscarvell opened #85 "trezor-agent startup error"
Hey romanz,

Hope you can push me in the right direction. I followed your instructions on the README page and I keep getting the following when launching trezor-agent:

[code]

Any ideas on how to fix this?

[2016-12-06 08:10] romanz commented on #85
Thanks for trying this tool and for reporting this issue!
This should be resolved by https://github.com/keepkey/python-keepkey/pull/8 but meanwhile, I'll update `setup.py` to use the common version of `hidapi` to make it work as intended.

[2016-12-06 08:21] romanz commented on #85
The fix is pushed also to [PyPI](https://pypi.python.org/pypi/trezor_agent/0.8.1).

[2016-12-06 08:21] #85 closed

[2016-12-16 14:03] fruitloop opened #88 "Exporting GPG Keypairs"
Hi,
I'm using your agent for GPG.
I created several keypairs, for keysigning, message encryption and codesigning.

On Black Friday I got a YubiKey 4. For convenience I now want to copy my codesigning keypair to the YubiKey.

As I understood the TREZOR does not reveal private keys. But with the mnemonic seed one could recreate the HD Wallet and from there the possible private keys for the wallets i

[2016-12-16 14:07] fruitloop commented on #80
Hi, any news yet?

[2016-12-16 17:02] romanz commented on #80
The discussion has moved to https://github.com/trezor/trezor-mcu/pull/132.
Currently, we don't have a good way to implement this feature without introducing non-trivial changes to the existing firmware and/or protocol definitions :(

[2016-12-16 17:11] romanz commented on #88
Thanks for opening this issue!
This is indeed can be very helpful, when moving to a Yubikey-style device.

[2016-12-23 12:24] xenithorb opened #89 "Feature: Add non-blocking listener option"
This would be for implementing with various scripts and/or as the default system's SSH agent.

Currently I do something like this in my ~/.bashrc (im a ledger user, hence the `2c97` id):

[code]

The drawback to this is that if the device is present, the new interactive shell runs `trezor-agent` and blocks the terminal on waiting for the key.

What I would like to see is:

1. An option that starts

[2016-12-23 13:48] fruitloop commented on #88
Hi,

any ideas yet?

Best regards
Roland

[2016-12-23 18:07] romanz commented on #89
Thanks for the suggestion, this is a really good feature!

[2016-12-23 19:07] romanz commented on #88
I thought to use `trezor-crypto` to derive `nist256p1` private keys from the mnemonic (as done [here](https://raw.githubusercontent.com/trezor/trezor-crypto/master/tests.c)) - and then wrap it with the GPG-related packets, so it could be imported to another card.

However this approach reveals the mnemonic on the machine running the code - which may compromise other private keys on this TREZOR (wh

[2016-12-23 19:13] romanz commented on #88
Maybe you can add a TREZOR-based GPG subkey to an existing Yubikey-based primary GPG key (or the other way around)?
This way, you could perform Yubikey-based GPG operations under your TREZOR-based GPG identity.

[2016-12-23 19:48] fruitloop commented on #88
I thought of that as well.

So basically I would generate a "Yubikey" Keypair for the Yubikey?
And I would generate Subkeys on the Trezor?
but how can I link these to the Yubikey?

[2016-12-23 20:20] romanz commented on #88
I have added `--subkey` [flag](https://github.com/romanz/trezor-agent/blob/master/trezor_agent/gpg/__main__.py#L27-L44) to `trezor-gpg-create` tool, which allows it to use existing `gpg-agent` to sign the new GPG [subkey](https://github.com/romanz/trezor-agent/blob/master/trezor_agent/gpg/encode.py#L91).

However, I've tested it only with GPG keys generated on my machine, e.g. by creating a RSA-20

[2016-12-23 21:54] fruitloop commented on #88
I don't quite get the setup you're describing.

I've got a keypair on my Trezor.

what would I do next?

[2016-12-24 13:38] romanz commented on #88
First, you create a new identity (which can be later moved to the Yubikey, AFAIU):
[code]
Then, you add a new subkey (using the TREZOR):
[code]
Now, you can use the TREZOR to sign and decrypt messages.

[2016-12-24 13:41] romanz commented on #88
Unfortunately, the `trezor-gpg-create` tool doesn't support the adding non-TREZOR subkeys to a TREZOR-based identity :(

[2016-12-24 13:48] fruitloop commented on #88
Hi, awesome that you write back on christmas 😉

So basically I would create a Yubikey Keypair and then I would use my TREZOR keys to generate a subkey on the Yubikey keypair?

How are they linked? Let's assume I have my Codesigning key on my TREZOR. I would generate a keypair which lives on my Yubikey and use my TREZOR Codesigning Keypair to generate a Subkey for the Yubikey Keypair. When I use th

[2016-12-24 13:55] romanz commented on #89
Just to make sure I understand - you'd like to emulate the standard `ssh-agent`/`ssh-add` behaviour:
`ssh-agent` runs in the background, and the user adds/removes SSH identities using `ssh-add`-like tool.

[2016-12-24 14:16] fruitloop commented on #88
I just noticed the Yubikey has three slots (Signing/Encryptin/Authenticating)

And my Codesigning Key shows as follows:
[code]

does that mean I have already one subkey in my codesigning keypair which can encrypt? So I would need another subkey for signing then?

[2016-12-24 19:45] romanz commented on #88
IIUC, first you create a standalone key on your machine, then you add a TREZOR subkey to it - and then you store the standalone private key part on the Yubikey.
There is a (bit outdated) demo here: https://asciinema.org/a/44877.

They are cross-signed, i.e. you sign the Yubikey part with your TREZOR key and vice-versa to prove that both of the private keys are under your control. See [RFC4880](htt

[2016-12-24 19:53] romanz commented on #88
Yes, I added it there since it is useful in case you are using this keypair as a standalone GPG identity (allowing you to do signature and encryption with the same identity).

I am not sure I understand your question...
If you mean the authentication slot, then its purpose is to allow using GPG keys for [authentication](http://superuser.com/questions/390265/what-is-a-gpg-with-authenticate-capabili

[2016-12-29 20:53] fruitloop commented on #88
Hi, I think I now understand the Subkeys a little bit more.
But since this would be 'only' my Codesigning Key I'm probably going to copy the whole key from the TREZOR to the YubiKey.

That way my other Keypair (keysigning) will remain only on the TREZOR and therefore save but my Codesigning Keypair stays on the YubiKey as well which is still very save but way more convenient.

Since I would use a

[2016-12-30 07:44] romanz commented on #88
Indeed, you should do the procedure above on an offline machine without persistent storage.
I'll prepare a script for recovering for NIST256-based GPG keys (with the appropriate security warnings).

[2016-12-30 11:20] fruitloop commented on #88
Thanks,

A friend of mine owns an old netbook. Yesterday we took harddrive and wifi card out. Now we are working on a custom KALI ISO to boot from usb directly to the RAM. That way we have a visual check thet nothing can get in/out unless over LAN/USB which would be obvious.

[2016-12-30 17:48] romanz commented on #88
@fruitloop Please take a look at the "gpg-export" branch at [romanz/trezor-crypto](https://github.com/romanz/trezor-crypto/commit/53c4f202596c64d4d4accac9f7f3917aa394de2c).

I have loaded the `all all all all all all all all all all all all` test mnemonic on the TREZOR and generated the following GPG identity:
[code]
Then, I ran the [export_keys.py](https://github.com/romanz/trezor-crypto/blob/gpg

[2016-12-31 15:06] Mqrius opened #90 "Install fails because Pillow fails?"
I don't have a properly formatted bug report for this one, sorry.

I tried following the installation instructions as listed [here](https://github.com/romanz/trezor-agent/blob/master/README.md), but pip install trezor_agent failed. So I tried to install from source as listed in the same instructions, but that failed as well.

I don't have a full understanding of why it failed, but there seemed to

[2016-12-31 18:07] romanz commented on #90
Thanks a lot for reporting this issue!
AFAIU, this dependency is added by [ledger package](https://pypi.python.org/pypi/ledgerblue) - but it seems that it isn't actually used there:
https://github.com/LedgerHQ/blue-loader-python/search?utf8=%E2%9C%93&q=PIL

@btchip Could you please take a look if this dependency can be removed from [here](https://github.com/LedgerHQ/blue-loader-python/blob/master/

[2016-12-31 18:15] btchip commented on #90
PIL is used by the build system when compiling applications - so while it's not strictly required for the communication API, it's still part of a basic set needed for development. I'll see if it's possible to split it but would rather avoid it if there's a way to make it easier to install

[2016-12-31 19:04] Mqrius commented on #90
You could try adding zlib independently to the trezor-agent dependencies
before the ledger dependency? Would that work?

On Dec 31, 2016 6:15 PM, "Nicolas Bacca" <notifications@github.com> wrote:

[2017-01-01 07:57] romanz commented on #90
@Mqrius The [link](https://stackoverflow.com/questions/34631806/fail-during-installation-of-pillow-python-module-in-linux) above suggest upgrading `pip` before installing `Pillow` (to support wheel-based installation).
Could you please try that to see if it also can solve the issue?

[2017-01-01 09:43] Mqrius commented on #90
IIRC I did actually try that but it didn't solve the issue. I'm not quite
fluent enough to make this a proper bug report either; maybe it's more
effective to see if you can reproduce the issue? Something like a fresh
virtual machine and then trying to just install only trezor-agent from
scratch, maybe that would do it.

On Jan 1, 2017 7:57 AM, "Roman Zeyde" <notifications@github.com> wrote:

[2017-01-01 11:40] romanz commented on #90
Sounds good.
Which Linux distribution did you use?

[2017-01-01 11:43] Mqrius commented on #90
Ubuntu 14.04.5 LTS (trusty)

On Sun, Jan 1, 2017 at 11:40 AM, Roman Zeyde <notifications@github.com>
wrote:

[2017-01-01 15:17] romanz commented on #90
Upgrading PIP to to the latest version (9.0.1) seems to do the trick:
https://gist.githubusercontent.com/romanz/af44ac1f4f793c667f8717fb28698fd4/raw/18b97cf111c1badabf7d696924db46618c869052/trezor-agent-on-ubuntu-14.04.5

[2017-01-01 15:17] #90 closed

[2017-01-06 01:21] ananteris opened #91 "Feature: passphrase encrypted private keys."
Is it possible to have the private S/E/C/A keys passphrase encrypted? If so, what are the implications of this if a mnemonic has been compromised?

One notable questions I can think of regarding this:
Assuming your mnemonic is known to an attacker (but not your PW) and you are suspected to keep your keys on a trezor, would the resulting private key generated from export_keys.py with a different pa

[2017-01-06 08:15] romanz commented on #89
@xenithorb Ping?

[2017-01-06 09:15] romanz commented on #91
Thanks for the compliments, and the suggested feature!
I have used an empty [passphrase](https://github.com/romanz/trezor-agent/blob/master/trezor_agent/device/trezor.py#L25), mainly for simplicity - but this can be changed to make the scheme more robust to mnemonic leakage.

Of course, in order to extract the private key (as discussed in #88) you'll need to enter the mnenonic **and** the passphra

[2017-01-06 10:49] romanz commented on #91
You can now set the passphrase using `TREZOR_PASSPHRASE` environment variable (see https://github.com/romanz/trezor-agent/commit/777524226ffc95d68c600cb7eecf4ff6441e1aa4).

[2017-01-06 10:49] #91 closed

[2017-01-06 13:58] fruitloop commented on #88
Okay, now I have the following:

`kali.list.chroot` (packages to be installed on the live ISO:
* `cmake`
* `python-ecdsa`
* `python-setuptools`
* `python-hidapi`
* `libhidapi-dev`
* `python-semver`
* `libghc-ed25519-dev`
* `gnupg2`
* `gnupg-agent`
* `scdaemon`
* `pcscd`
* `pcsc-tools`

along with these packages I have another flash drive (since I have yet to fully understand the overlays to add fi

[2017-01-06 17:00] xenithorb commented on #89
That's correct. I want a way for it to cooperate more easily with being integrated into the X environment in a true "agent" fashion. I find it very difficult to use this in a serious normal capacity without the features I listed above.

The non-blocking part is crucial (and this is what I did my best to approximate in bash) because currently with the way the software is engineered, it essentially

[2017-01-06 18:31] romanz commented on #88
I think that you need to install the `python-ed25519` package from [here](https://pypi.python.org/pypi/ed25519).

[2017-01-06 19:43] romanz commented on #72
@ulrichard Ping :)

[2017-01-06 21:34] harobed opened #92 "Suggest : create homebrew package for OSX"
Suggest : create homebrew package for OSX

[2017-01-07 10:06] fruitloop commented on #92
From what I remember, creating a Homebrew Package should not be that hard since you just have to point to a source of data and give instructions how to install them.

[2017-01-07 10:45] harobed opened #93 "Suggest: add OS list support and OSX build instructions"
In documentation I see:

[code]

it's for Debian/Ubuntu. Where is information about OS support ?

If your project support OSX system, can you add OSX build instruction ?

Best regards,
Stéphane

[2017-01-07 11:30] fruitloop commented on #93
As far as I remember, there were no dependencies.

just:
[code]
The usual stuff.

[2017-01-07 11:33] harobed commented on #93
I think it is missing some requirements:

[code]

[2017-01-07 14:31] romanz commented on #93
@harobed Unfortunately, I don't have a Mac OS X machine for creating an installation tutorial - but I'd be happy to merge any pull request for [https://github.com/romanz/trezor-agent/blob/master/README.md](README.md) describing the installation on Mac OS X...

[2017-01-07 14:31] romanz commented on #93
@fruitloop Thanks for the information!

[2017-01-07 14:35] romanz commented on #93
@harobed Regarding the `Pillow`-related error - please take a look at #90 (it could be resolved by using the latest `pip`, or maybe upgrading `setuptools` package: https://github.com/romanz/trezor-agent/commit/5bec0e8382dafc099506d42d82ac1d3ceb536e87)

[2017-01-07 14:48] romanz commented on #92
Unfortunately, I don't have a Mac OS X machine for creating a homebrew package...
Any pull requests are welcome :)

[2017-01-09 09:22] fruitloop commented on #88
Hi, i finally managed to get the dependencies on the kali ISO right.

Now I ran `python export_keys.py` and entered my mnemonic seed (not shown, I assumed all lowercase seperated by spaces) and it gets me this:
[code]

Is that another missing dependency on my side?

[2017-01-10 16:56] romanz commented on #89
@xenithorb Please take a look at https://github.com/romanz/trezor-agent/commit/43c424a4021adbd5b08f56e2ec0c084ce8794588 - it should provide initial "async" behaviour for `trezor-agent`.

[2017-01-10 17:02] romanz commented on #88
I suspect it fails during the derivation code (https://github.com/romanz/trezor-crypto/commit/1f45960abd82949aaf9b58859bdc1e1f3ffc72d2#diff-57ce64742fef2814a05f301e061e5fbdR52) since it interfaces with an external shared library using `ctypes`.

Could you please add more logging to the `export_keys.py` to find the exact line where it crashes?

[2017-01-10 17:18] xenithorb commented on #89
I would love to but my nano S board is literally in pieces today, so It may be some time before I can test again. I'm waiting on new switches, and as soon as I get those soldered on I'll test. Thanks

[2017-01-11 15:28] fruitloop commented on #88
with the "normal" KALI ISO it'll probably work just fine, but I want a small ISO so I removed all the kali meta packages.

My ISO has only 992MB at the moment.

But there is progress! I found a package called `python-ctypes` and now I get a `Segmentation fault`. I'm going to try to narrow that down now.

[2017-01-11 16:12] fruitloop commented on #88
More status:
It seems to crash at the line 62:
`lib.hdnode_fill_public_key(c.byref(node))`

[2017-01-11 16:17] fruitloop commented on #88
a little bit of google told me that this function is from `trezor/trezor-mcu`

I'll try to include that in my ISO

[2017-01-11 20:07] romanz commented on #88
I guess that it crashes here: https://github.com/romanz/trezor-crypto/blob/master/bip32.c#L412
If so, could you please add a few `printf` statements to see if any of the parameters is NULL by chance?

[2017-01-11 22:05] fruitloop commented on #88
I tried the following:
[code]
and got the following:
[code]
There seems to be no error in `ecdsa_get_public_key33` either.

[2017-01-11 22:07] fruitloop commented on #88
The crash seems to be at:
[code]
as the print won't execute

[2017-01-12 04:19] romanz commented on #88
Thanks!
I think that I found the issue (struct declaration mismatch): https://github.com/romanz/trezor-crypto/commit/35f459ee0f3d0f4dc66f7b54df3b51845b34e98e
Could you please try the new version to see if it works?

[2017-01-12 15:54] fruitloop commented on #88
Thanks now everything works.

Well not the YubiKey part but thats another problem.

[2017-01-12 15:54] #88 closed

[2017-01-12 20:01] romanz commented on #88
Great to hear :)

[2017-01-12 20:16] fruitloop commented on #88
The YubiKey 4 does not even work with ECDSA Keys for GPG ;)

[2017-01-14 18:14] romanz commented on #80
Merged at https://github.com/trezor/trezor-mcu/commit/466155270ba0b356ffb1938f5bcccbaf1a6f7e20.
Thanks @prusnak!

[2017-01-14 18:14] #80 closed

[2017-01-14 18:21] romanz commented on #93
@harobed Did running the following commands work for you?
[code]

[2017-01-16 10:38] fruitloop commented on #80
I saw some merges and the issue is closed, so I updated `python-trezor` as well as `trezor-agent` and still the old format on the display of the trezor.

Am I doing something wrong?

[2017-01-16 10:39] prusnak commented on #80
@fruitloop are you using freshly built firmware from master?

[2017-01-16 10:45] fruitloop commented on #80
I did:
[code]
and then the same with `trezor-agent`

[2017-01-16 10:47] prusnak commented on #80
@fruitloop but you did not update the firmware, which is kind of necessary for a firmware change.

[2017-01-16 11:10] fruitloop commented on #80
oh, well that makes sense,
I tried to upgrade the firmware by holding both hardware buttons and connecting it while in the `trezor.io` webwallet.

but the old view is still shown on display.

How can I `force` the newest firmware update to be installed?

[2017-01-16 11:31] prusnak commented on #80
The new one is not official yet. It's not released yet.

[2017-01-16 11:45] fruitloop commented on #80
Thanks, I'll wait for now

[2017-01-17 16:35] harobed commented on #93
@romanz installation success. Now I try to use ssh agent

[2017-01-17 16:41] harobed commented on #93
trezor agent work perfectly! Thanks

[2017-01-17 16:49] romanz commented on #93
Great, you're welcome :)
Please let me know if there is anything I can change in the installation instructions.

[2017-01-17 16:53] harobed opened #94 "Is It possible to keep authenticate ssh validation for some time?"
Hi,

I test trezor-agent with Ledger Nano S.

[code]

It works fine but I need to click on SSH Agent Authenticate confirmation on Ledger device each time #ssh command is executed.

I use Ansible scripts that does a lot of ssh calls. Is it possible to set a timeout to avoid validate each request in trezor-agent or Ledger ?

Best regards,
Stéphane

[2017-01-18 10:46] romanz commented on #94
You can use SSH multiplexing:
https://en.wikibooks.org/wiki/OpenSSH/Cookbook/Multiplexing#Setting_Up_Multiplexing

[2017-01-20 19:20] #93 closed

[2017-01-24 13:33] gabridome opened #95 "failure: Device not found on Mac OS"
I have tried everything I have seen around either via virtualenv or directly, as a superuser or as me, from Github and with pip, with python3 and with python2.
The best result is "failure: Device not found" when I run:

    trezorctl -v get_features | head

Yes. I have plugged in my Ledger Nano S.
Yes the app is open.

- Mac OS Sierra 10.12.2 (16C67)
- Python 2.7.12

[code]

[2017-01-24 17:41] romanz commented on #95
Please install `trezor_agent` package (using `pip install trezor_agent`), and run:
[code]
Does it work for you?
If something fails, please paste the error here.

[2017-01-24 18:11] romanz commented on #94
I can suggest using the following settings in `~/.ssh/config`:
[code]

[2017-01-24 18:16] #94 closed

[2017-01-24 19:21] gabridome commented on #95
Thank you I will

Il mar 24 gen 2017, 18:41 Roman Zeyde <notifications@github.com> ha scritto:

[2017-01-24 20:50] gabridome commented on #95
(v3) MacBook-di-Gabriele:~ gbd$ trezor-agent -vv foobar

2017-01-24 21:49:08,609 DEBUG        parsed identity: {'proto': None,
'host': 'foobar', 'port': None, 'user': None, 'path': None}
[interface.py:28]

2017-01-24 21:49:08,610 DEBUG        identity parts: ['ssh://', 'foobar']

[interface.py:44]

2017-01-24 21:49:08,610 INFO         identity #0: <ssh://foobar|nist256p1>

[__main__.py:183]

2017-

[2017-01-24 21:02] romanz commented on #95
It seems that you are using Python 3 here, and unfortunately Keepkey doesn't support it (https://github.com/keepkey/python-keepkey/issues/7).
Can you please try using Python 2?

[2017-01-25 06:00] btchip commented on #95
Also make sure you run pip install ledgerblue before to use it with a Nano S

[2017-01-25 09:31] gabridome commented on #95
Ahhh. Of course! I will downgrade exiting from virtualenv and will try
everything from almost scratch.
Thank you guys. I will keep you informed.

Il mer 25 gen 2017, 07:00 Nicolas Bacca <notifications@github.com> ha
scritto:

[2017-01-25 16:11] gabridome commented on #95
Thank you guys.
Good news: everything works.
Bad news: I have done so many things that I don't know exactly what has
gone right.

The only hints I have is to try to stick with normal user instead of super
user (sudo) and stick with python 2. Probably also use the "brew" version
of python instead of the Apple's one.

I had to use pip2 to be sure I was using the right version too.
I solved when I be

[2017-01-27 06:42] romanz commented on #89
Ping :)

[2017-01-27 08:12] xenithorb commented on #89
Ah yes, thanks for the ping I'll leave the alert up to remind me tomorrow. Test as soon as I can!

[2017-01-27 13:40] romanz commented on #80
The new firmware can be downloaded from [here](https://github.com/trezor/webwallet-data/blob/master/firmware/trezor-1.4.2.bin).

[2017-01-28 12:57] fruitloop commented on #80
Thanks, works like a charm

[2017-02-16 09:01] ecdsa commented on #11
hello, I'm having the same issue as @romanz when trying to install hidapi with python3:
`error: unknown file type '.pyx' (from 'hid.pyx')`
it works with hidapi==0.7.99.post15, and it fails with any ulterior version.

[2017-02-16 09:25] prusnak commented on #11
Old setuptools, upgrade to latest

[2017-02-16 09:52] ecdsa commented on #11
[code]

[2017-02-16 10:35] ecdsa commented on #11
@prusnak I am running the latest setuptools, see above

[2017-02-16 10:43] prusnak commented on #11
Do you have Cython installed? Preferably also latest

[2017-02-16 10:55] ecdsa commented on #11
@prusnak I have Cython-0.25.2, installed with pip3

[2017-02-18 11:49] pafcu opened #96 "GPG thinks there are private keys for all public keys"
When I import some public keys, and then do `gpg --list-secret-keys` I get a list of secret keys that I definitely do not have. This confuses some programs which then pick the wrong key for signing and encrypting. It is also not possible to remove these keys (`delete key failed: End of file`)

[2017-02-18 20:41] romanz commented on #96
Thanks for reporting this issue!

[2017-02-18 20:43] romanz commented on #96
Could you please attach the commands you have ran, that resulted in the problem above?

[2017-02-18 20:47] pafcu commented on #96
First run `scripts/gpg-shell` then `gpg --import` using any(?) key file (I have tried with multiple ones). This is on openSUSE with gpg (GnuPG) 2.1.18. I don't remember anymore what I did to initialize `trezor_agent` but I can probably try to start from the beginning again. But I did create a key using the trezor, and I can sign and encrypt things using it.

My goal is to import some external keys

[2017-02-19 20:34] romanz commented on #96
Good catch, thanks!
I'll take a look on this during this week.

[2017-02-19 20:59] pafcu commented on #96
Are you able to reproduce it, or should I try to test it more thoroughly?

[2017-02-19 21:02] romanz commented on #96
I think that I understand the reason for this issue, but I'm currently not near my workstation... I will update later this week.

[2017-02-21 11:16] romanz commented on #96
@pafcu Please take a look at the latest version (in the `master` branch):

[code]

[2017-02-21 11:16] romanz commented on #95
ping :)

[2017-02-21 11:17] #89 closed

[2017-02-21 11:18] #72 closed

[2017-02-21 14:41] gabridome commented on #95
I messed up on my office mac. The problem is to mix python shipped with mac
Xcode and the brew one.
I'm away from office for few days but I expect it will be difficult to
restore pip. :(

Il mar 21 feb 2017, 12:17 Roman Zeyde <notifications@github.com> ha scritto:

[2017-02-21 18:11] pafcu commented on #96
Thanks, it seems to work now for newly imported keys. However, the old keys still have the same problem, and as I said earlier it is not possible to remove them. Is the only option to delete the keyring and recreate it? Is it possible to export my actual private key, and import it into the new keyring? Or do I have to reinitialize my identity from scratch, set the correct seed to get the same ID a

[2017-02-21 19:15] romanz commented on #95
No problem :)

[2017-02-21 19:15] #95 closed

[2017-03-04 18:20] pafcu opened #97 "AssertionError in _parse_ed25519_pubkey"
When I do e.g. `gpg --list-secret-keys` I don't get any keys listed, but gpg-agent.log shows
[code]
I think I got this to work earlier, so I'm not sure what is triggering it now.

[2017-03-05 11:00] baremetalfreak opened #98 "trezor-agent not working under macOS"
After installation of trezor_agent on macOS Sierra (12.10.3) , I get this:

[code]

the funny thing is that if I try to run the same trezor-agent command a couple of times, sometimes it actually outputs the expected thing

in this case the display blinks with some text that is immediately replaced back by logo

[2017-03-05 14:01] romanz commented on #98
Thanks for reporting this issue!
It looks very similar to https://github.com/romanz/trezor-agent/issues/53, which was fixed by https://github.com/trezor/python-trezor/pull/77.

Could you please update your [trezor](https://pypi.python.org/pypi/trezor) package to the latest version (currently 0.7.12)?

Could you also run `trezorctl get_features` command a few times, to see if this bug can be reprod

[2017-03-05 14:07] romanz commented on #97
Thanks for reporting this issue!

[2017-03-05 14:25] romanz commented on #97
BTW, which GnuPG version are you using (`gpg2 --version`)?

[2017-03-05 14:27] pafcu commented on #97
[code]

[2017-03-05 14:58] romanz commented on #97
Could you please run `gpg2 --export | gpg2 --list-packets -v` and paste the output here?
[code]
Maybe something went wrong with the GnuPG identity public keys...

[2017-03-05 15:08] romanz commented on #96
I have tried to reproduce this issue (swiching the `False` [here](https://github.com/romanz/trezor-agent/blob/master/trezor_agent/gpg/agent.py#L117) to `True`), but it seems that killing `trezor-gpg-agent` and switching back to the original code seems to fix the issue (the imported keys are not listed as having a secret part, and can be deleted from the command-line)...

If it doesn't work for you

[2017-03-05 17:07] pafcu commented on #97
This is for my existing, old key:

[code]

[2017-03-05 17:56] baremetalfreak commented on #98
It looks like I already have the latest version
[code]

running trezorctl has the same problem

[code]

[2017-03-05 18:03] romanz commented on #98
It seems that there is an issue with the USB link with the device itself...
Could you please retry with another USB cable?

@prusnak - what do you think?

[2017-03-05 18:06] baremetalfreak commented on #98
I use trezor with this cable for TREZOR password manager without any problem. But I just tried another cable anyway, but the result is still the same.

[2017-03-05 18:10] baremetalfreak commented on #98
The really weird part is that the command sometimes succeeds and sometimes not and it looks totally random.

[2017-03-05 18:13] prusnak commented on #98
Duplicate of https://github.com/trezor/python-trezor/issues/76 and https://github.com/romanz/trezor-agent/issues/50

Wonder why it is still present.

[2017-03-05 18:16] baremetalfreak commented on #98
Any ideas how to turn on some diagnostics to help you find the root cause?

[2017-03-05 18:18] romanz commented on #98
@baremetalfreak , can you please attach your `/usr/local/lib/python2.7/site-packages/trezorlib/transport_hid.py`, to make sure that its `enumerate()` function returns `sorted(devices.values())`.

[2017-03-05 18:19] baremetalfreak commented on #98
[code]

[2017-03-05 18:24] prusnak commented on #98
What does

[code]

look like? (while TREZOR is connected?)

[2017-03-05 18:28] baremetalfreak commented on #98
[code]

[2017-03-05 18:32] prusnak commented on #98
Crappy OSX USB stack. :-/ Both interfaces (normal and U2F) report the same path (USB_534c_0001_14200000 in your case). And it also seems that random interface is opened each time.

[2017-03-05 18:48] romanz commented on #97
I haven't succeeded to reproduce this issue locally... :(
It seems like an issue with my GPG public key packet parser code.
Could you please attach the public GPG key from above (using `gpg2 --export -a`)?

[2017-03-05 18:55] romanz commented on #97
Also, could you please attach the logs from `~/.gnupg/trezor/gpg-agent.log`?
It should contain the DEBUG-level message emitted by the parser, so hopefully it could be possible to understand what went wrong...

[2017-03-05 20:42] baremetalfreak commented on #98
Any idea why Chrome plugin for TREZOR password manager works flawlessly over the same USB port and cable?

[2017-03-05 20:45] prusnak commented on #98
Because they use device handles, not paths to distinguish between the devices.

[2017-03-05 21:19] baremetalfreak commented on #98
It seems that you already know the exact problem and what it would take to fix it.

So just for my better understanding - is the problem caused by the python code using https://github.com/signal11/hidapi while the chrome plugin uses some other low-level interface to deal with USB devices?

[2017-03-06 11:03] prusnak commented on #98
I found the culprit ...

Older versions of `hidapi` used custom paths which had collisions I described above. Latest release of hidapi (0.7.99.post20) used updated version of hidapi from master, which uses IOKit paths, which do not have these collisions:

[code]

Please update to latest hidapi. I also added requirement for `hidapi>=0.7.99.post20` to python-trezor.

[2017-03-06 12:01] baremetalfreak commented on #98
Upgrading to hidapi (0.7.99.post20) fixed the problem. Thank you!!!

[2017-03-06 12:01] #98 closed

[2017-03-06 18:31] romanz commented on #98
Thanks @prusnak :)

[2017-03-06 20:52] pafcu commented on #97
Sorry. I did some more digging, and turns out that the problem is not _my_ key, but rather a key that I have imported. I sent you the problematic key by email.

[2017-03-07 19:49] romanz commented on #97
Thanks for the information!
This key seems to have a subkey packet with an unexpected prefix (causing the assertion above).
Since it's not required for handling the TREZOR-based keys, it can be safely ignored - as done at https://github.com/romanz/trezor-agent/commit/6a7165298f28216e69b1bfac357a9c1f3533d0f7.

[2017-03-08 19:17] pafcu commented on #97
Thanks, works now!

[2017-03-08 19:17] #97 closed

[2017-03-08 19:17] pafcu commented on #96
I can't actually reproduce this anymore myself, so possibly I did something wrong during previous testing. so, seems to have been fixed.

[2017-03-08 19:17] #96 closed

[2017-03-14 19:49] romanz opened #101 "Split support for Keepkey and Ledger into separate packages"
This would allow the user to install only the relevant Python packages for his hardware device.
Also, it will be better named (e.g. `keepkey-agent` or `ledger-agent`).

[2017-03-20 14:27] gretel opened #102 "suggestion: add notes on support for other devices than trezor"
if i get it right at least *keepkey* is supported? that'd be good to know for people not glimpsing into the source code, i'd suggest. regards

[2017-03-20 18:51] romanz commented on #102
Yes, this project supports both TREZOR, KeepKey and Ledger Nano S devices :)
The documentation is indeed a bit lacking - so thanks for opening the issue!

[2017-03-20 19:24] optimator999 commented on #98
Can confirm. I had the same issue. Solved with `sudo pip install -I hidapi`

[2017-03-20 20:49] romanz commented on #102
Regarding KeepKey usage instructions, please see:
https://support.keepkey.com/support/solutions/articles/6000106779-ssh-keepkey-configuration-with-ubuntu-linux-

[2017-03-20 21:44] gretel commented on #102
@romanz `We are sorry. This portal is not available at your location.`

[2017-03-20 22:00] gretel opened #103 "unable to enter pin without numeric keypad installed"
on invocation of `trezor-agent`:
```Use the numeric keypad to describe number positions.```
unfortunately, my macbook has none.

[2017-03-21 20:10] romanz commented on #103
You can enter the PIN using the regular number keys, following the instructions here:
https://github.com/trezor/python-trezor#pin-entering

[2017-03-21 21:00] gretel commented on #103
oh, doh, stupid me. thanks for the guidance.

[2017-03-22 05:48] romanz commented on #103
No problem :)

[2017-03-22 05:48] #103 closed

[2017-03-26 12:22] Bunjin opened #104 "Error when running trezor-agent due to protobuf and keepkey"
On debian: Kubuntu 16.0.4
protobuf 3.2

I ran into the following issue

[code]

I solved it by removing any use and reference to the keepkey lib

[2017-04-09 22:44] timthelion opened #106 "2 factor"
Is it possible to require a password to login to ssh, along with the TREZOR? Now, I feel that if the TREZOR was stolen, than it would serve as the keys to the kingdom.

[2017-04-11 04:02] romanz commented on #106
IIUC, the PIN feature should protect you in this case:
https://doc.satoshilabs.com/trezor-faq/threats.html#what-happens-if-my-trezor-gets-stolen

[2017-04-12 09:04] #106 closed

[2017-04-29 18:32] #101 closed

[2017-04-29 18:34] #104 closed

[2017-04-29 18:34] #102 closed

[2017-04-30 16:18] ananteris opened #113 "Question regarding ssh-agent on unsafe computer."
I was wondering whether or not there is any sort of timestamping built into the ssh-agent/sshd systems that expire a signed public key after some period of time?

To be more precise I was wondering what the effect of using trezor's ssh-agent would be on a malware'd computer? It's my understanding that at some point the trezor will sign off on a key which could be stored indefinitely and used by an

[2017-04-30 19:29] romanz commented on #113
When using public key authentication, the SSH server sends the client a random challenge.
The client should sign it with its secret key, and the server will allow the connection to proceed if it can verify the signature using the client's public key.
If the client's machine has malware, it can only have access to a single signature each time a connection is made - and if the SSH server will send d

[2017-05-02 15:36] #17 closed

[2017-05-02 16:17] polto opened #114 "RSA keys ?"
hi !
I use my Ledger Nano S for SSH authentication. It perfectly works with all of my servers, but not with Cisco routers since they expect only RSA keys.
I can see that ledger SDK support RSA, but the SSH/PGP app only propose to generate ed25519 or nist256p1 keys.  Any idea on how can I generate RSA keys for Cisco's SSHd ?
Regards

[2017-05-02 17:27] romanz commented on #114
Currently, my library doesn't support RSA keys (since they aren't supported on TREZOR's firmware).
However, since you're using Ledger Nano S - you should try their [OpenPGP card](https://github.com/LedgerHQ/blue-app-openpgp-card) app, which should support RSA key for SSH authentication IIUC.
CC: @cslashm

[2017-05-02 17:35] polto commented on #114
Thanks @romanz ! am downloading the OpenPGP card app.

[2017-05-02 17:35] #114 closed

[2017-05-02 18:17] romanz commented on #114
You're welcome :)

[2017-05-06 06:47] #113 closed

[2017-05-08 13:06] DomBlack opened #115 "Allow SSH Public Keys to be stored on machine."
This is sort of an extension to #110 and #76

I am using a Ledger Nano S, with 1 keypair per SSH host I connect to. I'm using the sub-shell whenever I want to use git,ssh or scp. Pointing it at a file containing all my public keys;

[code]

The problem is on the first command I issue, all public keys are fetched from the Ledger, forcing me to allow it to provide the public key multiple times.

I'm

[2017-05-08 17:07] romanz commented on #115
Sounds great!
Thanks for the suggestion :)

[2017-05-12 10:56] romanz commented on #115
BTW, following https://github.com/romanz/trezor-agent/commit/26d7dd31246c289dd8db2c6910e1ce85d1209edf the agent will cache all SSH keys during its run - so you can also use the following trick to "split" public key retrieval from actual signature:

[code]

What do you think?

[2017-05-12 11:27] DomBlack commented on #115
That would work, however I'd still be worried about something sneaking into the "allow" loop.

Given enough "per host" keys, even that work around would be annoying, because you could easily be talking about 25+ keys to allow to be fetched.

Where as having them on the machine permiantely, would be a one time "allow key" requirement, followed by automatic reuse every other time the trezor-agent re

[2017-05-13 10:12] romanz commented on #115
Please take a look :)

[2017-05-13 10:24] romanz commented on #115
I've released new `libagent` [version](https://pypi.python.org/pypi/libagent/0.9.1) to PyPI (so please make sure you're using the latest one).

[2017-05-15 09:06] DomBlack commented on #115
That works brilliantly, thank you for adding this feature so quickly!

[2017-05-15 09:29] #115 closed

[2017-05-15 12:36] romanz commented on #115
You're welcome :)

[2017-05-17 11:17] fansari opened #117 "GPG sign fails again"
I again setup trezor-agent and created and imported a key. Until this point it works.

But when I now try to use it I again get this error message:

[code]

Here some more information:

[code]
[code]
[code]
[code]
I remeber an error like this in 09/2016: https://github.com/romanz/trezor-agent/issues/29

There it was fixed in an extra ledger branch but is seems to me that branches are merged now be

[2017-05-17 18:43] romanz commented on #117
It's probably my fault :(
I forgot to update the [GPG docs](https://github.com/romanz/trezor-agent/blob/master/README-GPG.md) with the new instructions for Ledger:
[code]
You can verify that it uses the correct agent tool by running:
[code]
In order to enable Ledger-based agent, run:
[code]

[2017-05-20 13:09] fansari commented on #117
Working. Thank you!

[2017-05-20 14:16] romanz commented on #117
You're welcome :)

[2017-05-20 14:16] #117 closed

[2017-05-25 09:24] knocte opened #119 "Using Ledger Nano: Invalid status 6e00 or Invalid channel"
Tried this, and first time I got:

[code]

Then, of course, I connected the Ledger, then:

[code]

If in the ledger I open the FIDO app, then I get:

[code]
How to use the Ledger with this?

[2017-05-25 14:11] romanz commented on #119
Please make sure that your device has 'SSH/PGP Agent' app [installed](https://cloud.githubusercontent.com/assets/9900/26453575/e1910726-416c-11e7-9731-ec16de67b2d4.png) and running.
It can be installed by clicking 'Show developer items' (in the bottom-right corner of the [Ledger Manager](https://chrome.google.com/webstore/detail/ledger-manager/beimhnaefocolcplfimocfiaiefpkgbf?utm_source=chrome-ntp

[2017-05-31 07:55] romanz commented on #119
@knocte ping?

[2017-05-31 08:29] knocte commented on #119
Yeah that was it. Thanks for updating the documentation.

[2017-05-31 08:29] #119 closed

[2017-05-31 14:39] sp4ke opened #120 "Error getting version from scdaemon in Arch Linux"
I have the following error when I try to sign or verify a message:

[code]
- Decryption works fine
- I am using the repo version from ae2a84e16847be635f2770557f5553a91e822548
- I am using Arch linux. The agent seems well setup and I can see my key listed when I do `gpg2 -K`.
- Python version 2.7

[2017-05-31 18:42] romanz commented on #120
Thanks for reporting this issue!

Are you using a TREZOR or a Ledger device?

[2017-05-31 18:49] romanz commented on #120
AFAIK this tool does not require `scdaemon` for its functionality.
Could you take a look at the agent's log file - to see if there is any related error?
[code]

[2017-06-01 15:01] sp4ke commented on #120
Hi,

I am using Trezor.

I recorded a session [here](https://asciinema.org/a/b2nvxh6y27e5oc475x317r3l7) and highlighted the agent log.

[code]

[2017-06-01 17:04] romanz commented on #120
It seems that the problematic command is sent by:
https://github.com/gpg/gnupg/blob/02af509dfc2b893720aa0c7b380fd7736b2bafd0/common/asshelp.c#L656

[2017-06-01 18:19] romanz commented on #120
Somehow [start_agent](https://github.com/gpg/gnupg/blob/509e4a4d7491daf496b21e5892f4f63ab90e8e21/g10/call-agent.c#L225) is called with `for_card = 1`...

[2017-06-01 18:45] romanz commented on #120
BTW, I managed to reproduce the error using the following command:
[code]

[2017-06-04 00:15] sp4ke commented on #120
This is the verbose log.

[code]

And this is the gpg.conf file

[code]

[2017-06-04 18:19] romanz commented on #120
It's indeed very weird :(
I will try to install Arch, to see if this issue can be reproduced there...

[2017-06-04 19:55] romanz commented on #120
Note: the "no default secret key" error happens after trying to use the default key for signature:
https://github.com/gpg/gnupg/blob/02af509dfc2b893720aa0c7b380fd7736b2bafd0/g10/skclist.c#L130

Could you please try to explicitly set your user ID using the following command:
[code]

[2017-06-04 23:36] sp4ke commented on #120
Indeed it's working now when I specify the user id. So my problem with signing was not related to the scdaemon message.

[2017-06-05 16:55] rcamera opened #121 "scripts/gpg-init fails to create new key"
Just got my first Trezor, trying to generate a GPG key, but the script is failing, throwing me this error:

[code]

I don't understand that error. I have all dependencies installed correctly, according to the README. Do you need any more information?

[2017-06-05 17:09] rcamera commented on #121
I think I got what is happening, I am running archlinux, which defaults the python command, to use Python3, but apparently this script is only compatible with Python2, as there is (apparently) no `long` in python3. Is that correct?

[2017-06-05 17:24] rcamera commented on #121
Ok, got it working now that I used python2 instead. Closing the issue.

[2017-06-05 17:24] #121 closed

[2017-06-05 19:25] romanz commented on #120
Sounds good :)
Let me know if the commit above solves the problem as well (setting "default-key" to TREZOR's user ID during `gpg-init` phase).

[2017-06-05 19:32] romanz commented on #121
Thanks for reporting this!

It seems that `trezorlib` don't have full Python 3 support :(
I've opened https://github.com/trezor/python-trezor/pull/112 to fix some of the issues...

[2017-06-05 20:10] rcamera commented on #121
No worries, thanks for the great work of making this =)

I will follow that PR and help with testing whenever needed.

[2017-06-06 00:13] sp4ke commented on #120
I tried the "default-key" option in the .gnupg/trezor/gpg.conf file as your commit but I still get the error:
`gpg: Warning: not using <USER_ID> as default key: No secret key`

[2017-06-06 20:58] romanz commented on #120
Will try to reproduce it on Arch.

[2017-06-07 19:04] romanz commented on #120
Good news: it reproduces exactly as you described :)

[2017-06-07 20:19] romanz commented on #120
Please take a look at the [scd](https://github.com/romanz/trezor-agent/commits/scd) branch - it seems to work on my Arch VM (signature works without explicit settings of user ID).

[2017-06-07 20:38] romanz opened #122 "Allow SSH/GPG testing with a fake device"
This would allow debugging GPG issues without hardware dependencies.

[2017-06-08 18:26] romanz commented on #120
P.S.
It appears that the latest GPG version (2.1.21) on ArchLinux tries to access SCD even regular identity (managed by the standard gpg-agent) and fails with "No such device" error:
[code]

[2017-06-08 18:26] #120 closed

[2017-06-08 18:45] romanz commented on #120
The relevant bug is https://dev.gnupg.org/T1983 (found from [this commit](https://github.com/gpg/gnupg/blame/02af509dfc2b893720aa0c7b380fd7736b2bafd0/g10/skclist.c#L130)).

[2017-06-11 20:05] Z819 opened #123 "trezor-gpg not found"
`./scripts/gpg-init "e65H <e65H>"                                                                                          
./scripts/gpg-init: line 18: trezor-gpg: command not found
`
Managed to install it locally (--user) but stuck here.
In other log outputs I saw `/usr/local/*/trezor-gpg`
Do I miss something?

I installed `python2-trezor-0.7.13` already.

I'm on Fedora 25.

Thank you.

[2017-06-11 20:08] Z819 opened #124 "Documentation: Add Redhat/Fedora install instructions"
Packages I know are needed:

`systemd-devel`

Not sure, but probably:
[code]

[2017-06-12 19:08] romanz commented on #123
Thanks for reporting this issue!
I indeed forgot to mention that `~/.local/bin` should be added to `PATH`, since the command-line tools should be installed there:
[code]

[code]

[2017-06-12 19:10] romanz commented on #124
Thanks for reporting this issue :)
I am current running Debian-based system, so I'll install Fedora in a VM and update the instructions.

[2017-06-12 19:36] romanz commented on #123
https://github.com/pypa/pip/issues/3813

[2017-06-12 22:01] Flink commented on #117
@romanz Sorry to “hack” this issue but I have exactly the same problem but with my trezor. `gpg2 --list-secret-keys` returns nothing :/

[2017-06-13 15:33] romanz commented on #117
No problem, thanks for letting me know!
Could you open a new issue and attach the `gpg-agent.log` file after the signature operation fails?
It should be under `~/.gnupg/trezor/gpg-agent.log` or `~/.gnupg/ledger/gpg-agent.log` (depends on the device you have).

[2017-06-13 19:59] romanz commented on #117
BTW, may it be related to #120?

[2017-06-13 20:13] Flink commented on #117
@romanz Yes you’re right it’s #120 :) I’m using Arch too.

[2017-06-14 20:56] romanz commented on #124
Installation commands on Fedora 25:
[code]

[2017-06-15 18:14] #124 closed

[2017-06-15 18:14] #123 closed

[2017-06-16 12:33] sp4ke commented on #120
Hi @romanz thanks for investigating the bug. Sorry didn't see your message about the scd branch, do you still want me to test ?

[2017-06-16 12:45] romanz commented on #120
No problem, it's already merged to master :)
https://github.com/romanz/trezor-agent/commit/442bf725ef61cde4f82077421960738b0d1da2ed

[2017-06-19 21:35] B3QL opened #125 "Unicode support for user id"
I spot a problem with unicode encoding while creating new identity.
[code]
[code]

[2017-06-21 18:54] romanz commented on #125
Thanks for reporting the issue :)

[2017-06-21 19:34] romanz commented on #125
Since TREZOR UI does not support Unicode, we should "normalize" the identity back to ASCII before sending it to the device (https://pypi.python.org/pypi/Unidecode/)

[2017-06-24 09:25] romanz opened #126 "Use PGPy for exporting public key packets"
https://github.com/SecurityInnovation/PGPy

[2017-06-24 11:32] romanz commented on #125
Now it should work:
"Bartłomiej Kurzeja <me@example.org>" will be stored as GPG identity but the key derivation will use "Bartlomiej Kurzeja <me@example.org>" (note the `l` instead of `ł`).
Thanks again :)

[2017-06-24 11:32] #125 closed

[2017-07-10 14:22] BenediktSteindl commented on #120
Hi @roman,
   I have a similar issue on Arch Linux. When running
[code]
it says
[code]

[2017-07-10 14:23] BenediktSteindl commented on #120
[code]

[2017-07-10 14:25] BenediktSteindl commented on #120
some output of my config files
[code]

[code]

[2017-07-10 14:26] BenediktSteindl commented on #120
since you mentioned smart cards above: I use them on a daily basis.

Thank you for your help.

[2017-07-10 18:52] romanz opened #127 "GnuPG 2.1.21 communication failure on Arch Linux"
[code]

[2017-07-10 18:53] romanz commented on #120
Thanks for reporting this issue!
It reproduces in my Arch VM - and it's probably related to latest changes in GnuPG.
Will track this in #127.

[2017-07-14 18:24] romanz commented on #127
@BenediktSteindl
It seems that GnuPG 2.1.21 changed the communication protocol [a bit](https://gist.github.com/romanz/a236da518cf37367be1b3f07504c5f89#file-gpg-2-1-21-sign-debug-log-L48):
[code]
It now expects the "SCD GETINFO version" command to return the actual version - which is now done at https://github.com/romanz/trezor-agent/commit/a49d7b529bcfbb00714edb8a21db11ce9ad14c30. Could you please

[2017-07-16 07:50] #122 closed

[2017-07-16 12:46] romanz commented on #127
Seems to work using "fake device" (from https://github.com/romanz/trezor-agent/commit/9d38c26a0f2b74e949a921ec9e40e8679ddd240f):

[code]

[2017-07-16 12:46] #127 closed

[2017-07-17 09:21] jphastings opened #128 "Setting up a secondary machine"
The [guide](https://github.com/romanz/trezor-agent/blob/master/README-GPG.md) excellently explains how to create a new key on a new machine, but if my Ledger already has a GPG key on it from one machine, what commands should I use to set up a second machine to use the same key?

If you have the time to answer here I'd be happy to create  PR to update the Readme!

[2017-07-18 09:37] romanz commented on #126
Unfortunately, Ed25519 and Curve25519 are not supported by PGPy (yet):
https://pythonhosted.org/PGPy/api/index.html#ellipticcurveoid

[2017-07-18 09:38] romanz commented on #128
Thanks for opening this issue!
Just to make sure - are you asking about exporting the secret GPG key from the Ledger device to your PC?

[2017-07-21 09:23] romanz commented on #128
@jphastings Ping :)

[2017-07-23 18:14] romanz commented on #128
Please take a look at #88 - it might be relevant to your question (IIUC).

[2017-08-05 22:31] jphastings commented on #128
Ugh, sorry; I completely missed your reply! Actually I'm more interested in extracting the _public_ key from the Ledger device (the set up process documented implies that each set up will create a brand new key, erasing the previous one; maybe I'm misinterpreting it?) Thanks!

[2017-08-07 05:16] romanz commented on #128
No problem :)

Since the GPG key creation is using the current timestamp, in order to re-create the same public key you'll need to use the same timestamp.
I'll update the documentation with a screencast for this issue.

[2017-08-07 17:52] romanz commented on #128
Please take a look at:
[![asciicast](https://asciinema.org/a/M4lRjEmGJ2RreQiHBGWT9pzp4.png)](https://asciinema.org/a/M4lRjEmGJ2RreQiHBGWT9pzp4)

[2017-08-08 20:40] pree opened #129 "trezor-agent usage in SSH config"
Is it possible to use trezor-agent inside the ~/.ssh/config ?

I've setup host-aliases and would like to still use them, but with the trezor-agent.
Tried it with the ProxyCommand:
`ProxyCommand trezor-agent %r@%h -c`
`ProxyCommand trezor-agent %r@%h -- ssh %r@%h -p %p`
but it's not working, it just prints `-bash: line 1: $'SSH-2.0-OpenSSH_7.5\r': command not found`.

[2017-08-09 20:53] romanz commented on #129
Thanks for suggesting this feature!
I'll take a look at it during the weekend :)

[2017-08-10 11:24] vsund commented on #129
Definitely would appreciate this 👍

I configured everything in `.ssh/config` to be able to use a short `ssh hostname`. Would love to continue this :)

[2017-08-11 15:01] romanz commented on #129
The `ProxyCommand` command is run by the `ssh` binary, so it cannot override the [SSH_AUTH_SOCK](https://stackoverflow.com/questions/22154423/how-is-ssh-auth-sock-setup-and-used-by-ssh-agent) environment variable used by `ssh` in order to connect to the `trezor-agent` tool (instead of the distro-provided `ssh-agent`).

[2017-08-11 15:05] romanz commented on #129
However, I can suggest using a helper [bash script](https://gist.github.com/romanz/45b5cb033d15469a7527f8fe6d7d9cde) to provide similar funcionality:

[code]
This way you can run `tssh user@host -v` and it will run the `ssh user@host -v`, using ssh-agent emulation provided by `trezor-agent user@host`.

What do you think?

[2017-08-11 15:07] romanz commented on #129
Also, please take a look at https://github.com/romanz/trezor-agent/issues/75#issuecomment-258169714

[2017-08-11 16:23] pree commented on #129
With the bash script you provied you would still have to type the user, host and port (when not default port) each time instead of an alias. The Script in #75 looks really promising, is that one available anywhere ?

[2017-08-11 17:45] romanz commented on #129
I've actually implemented a bit different feature.
You can run `trezor-agent /path/to/config/trezor.pub -s`, where the file contains the SSH public keys.
The tool will load all the public keys into its "ssh-agent" memory, so you can use all your `.ssh/config` aliases as usual:

[code]

[2017-08-12 08:18] romanz opened #130 "Add a script for exporting SSH identities from an existing ~/.ssh/config"
Following https://github.com/romanz/trezor-agent/issues/75#issuecomment-258169714

[2017-08-12 08:18] romanz commented on #129
Thanks for the reminder, it would be a useful script :)
#130

[2017-08-12 08:19] romanz commented on #130
Suppose your .ssh/config contains:
[code]

So running trezor-ssh server-label will result in invoking
[code]

[2017-08-12 12:31] vsund commented on #129
I think such a script wouldn't be that hard. It just needs to call `ssh $*` with a custom parameter `-i <temp_keyfile_path>` if I'm not mistaken :)

[2017-08-15 12:28] PavelNiedoba opened #131 "sudo pip install trezor_agent fails to compile"
I assume trezor_agent is part of this repo, I'm trying to follow install guide

compilation.err.txt
tmp/comp.err

i asked question on https://stackoverflow.com/questions/45692279/using-bitcoin-trezors-ssh-agent too

[2017-08-15 12:38] prusnak commented on #131
As mentioned here: https://github.com/trezor/python-trezor#install:

On Linux you might need to run these commands first:

[code]

[2017-08-15 12:46] PavelNiedoba commented on #131
this solved installation problem but running

trezor-agent pavel@google.com

failed  with

[code]

[2017-08-15 19:01] romanz commented on #131
Thanks for reporting this issue!

[2017-08-16 18:19] romanz commented on #131
@PavelNiedoba
Could you please try to update `urllib3` using `pip install --upgrade urllib3`?

[2017-08-16 19:33] romanz commented on #129
@vsund The problem with using `-i` flag is that the TREZOR cannot export the SSH private key to the PC, so I am using the [SSH agent protocol](https://tools.ietf.org/html/draft-miller-ssh-agent-00) to sign the challenge on the TREZOR device.

[2017-08-18 08:52] romanz commented on #129
The issue will be tracked by #130

[2017-08-18 08:52] #129 closed

[2017-08-18 08:52] #128 closed

[2017-08-23 19:36] bert2002 opened #134 "Shell stops working"
Hi,
when I am trying to use the shell it dies.

[code]

Python: 3.6.1
OS: macOS 10.12.6

When I unlock the trezor before entering the shell it works.

Any help or hints appreciated :)

bert

[2017-08-24 12:19] romanz commented on #134
Thanks for reporting this issue!

[2017-08-24 12:27] romanz commented on #134
This probably happens since the PIN entry happens from CLI (after the subshell is already running):

[![asciicast](https://asciinema.org/a/xvkrxuQbxCSDUwlSHmbn154AI.png)](https://asciinema.org/a/xvkrxuQbxCSDUwlSHmbn154AI)

[2017-08-24 12:29] romanz commented on #134
I'd suggest using QT-based PIN entry dialog, which is already implemented here:
https://github.com/romanz/trezor-agent/blob/7598f6cdbf62af1b0ffd5892de0a70016e3657f6/libagent/device/trezor.py#L41-L56

[2017-08-31 14:02] #131 closed

[2017-08-31 14:04] romanz commented on #134
The latest commit (above) should resolve the issue.

[2017-08-31 14:05] #134 closed

[2017-09-04 20:26] jb55 opened #135 "Idea: Graphical pinentry for Trezor?"
I was thinking about ways to make trezor-gpg-agent a bit nicer from an OS packaging standpoint.

* **Goal**: a trezor-gpg-agent system service that runs in the background when a user logs in.

* **Issue**: I noticed the console pinentry prompt sometimes appears in the trezor-gpg-agent tty if it's not unlocked. Ideally it would prompt a graphical pinentry (specialized for trezor?)

* **Q**: do we n

[2017-09-06 04:46] romanz commented on #135
Thanks for the suggestion!
Regarding graphical pinentry: I've added a simple Qt-based dialog box prompt when the agent has no tty at  https://github.com/romanz/trezor-agent/commit/f6911a00163e092396e529440883e9fa70374358.
Please give it a try to see if this can be used for your idea.
Let me know if there is any issue/question/problem :)

[2017-09-08 08:20] romanz opened #136 "Trouble getting trezor-gpg working on MacOS"
(copied from [reddit](https://www.reddit.com/r/TREZOR/comments/6yt8kz/trouble_getting_trezorgpg_working_on_macos/))

I've got trezor_agent working with mosh/ssh, when I try it with gpg (after replacing all the "gpg2" strings with "gpg" because that's what brew calls it) I get the following:

[code]

[2017-09-08 08:22] romanz commented on #136
Could you please run  `gpg --version` on your machine (since trezor-agent works only with GnuPG v2.1+)?

[2017-09-08 22:41] mnemnion commented on #136
Sure thing! (original reporter checking in):

[code]

[2017-09-09 08:42] romanz commented on #136
Thanks!
It seems that the [latest GnuPG](https://lists.gnupg.org/pipermail/gnupg-announce/2017q3/000413.html) (2.2.0) is now installed as `/usr/bin/gpg` (and not `/usr/bin/gpg2`).
So the issue can be reproduced on Arch linux as well :)

[2017-09-09 08:51] romanz commented on #136
When running `fake-device-gpg-agent` fails (not finding `gpg2`), it says:
[code]

[2017-09-09 08:53] romanz commented on #136
Could you please check `/Library/Python/2.7/site-packages/libagent/gpg/keyring.py` file, to see that it uses the correct GPG binary (at `gpg_command()` function)?

[2017-09-09 09:22] romanz commented on #136
BTW, you can test the library using "fake-device" implementation (which doesn't require hardware device for signature and decryption - which should be used ONLY for tests):

[code]

[2017-09-09 14:06] romanz commented on #136
@mnemnion
Could you please add a `gpg2` symlink to `/usr/bin/gpg` - just to see if there are any other issues?
(using `sudo ln -s /usr/bin/gpg /usr/bin/gpg2` command)

[2017-09-09 19:07] mnemnion commented on #136
Yep, `/Library/Python/2.7/site-packages/libagent/gpg/keyring.py` wants `gpg2` (line 182). I'll try the symlink next.

[2017-09-09 19:14] mnemnion commented on #136
`brew` uses `/usr/local/bin/` so I've issued `sudo ln -s /usr/local/bin/gpg /usr/local/bin/gpg2` (the sudo is probably superfluous here).

The line `pip install --user -e ./agents/fake` executes successfully but `DEVICE=fake-device ./scripts/gpg-init "John Doe <john@doe.bit>"` fails with

[code]

[2017-09-09 19:21] mnemnion commented on #136
However running the usual `DEVICE=trezor ./scripts/gpg-init "John Doe <john@doe.bit>"` with the trezor plugged in seems to work. I cancelled on the device since I don't need a John Doe key.

[2017-09-09 19:23] mnemnion commented on #136
Note that I did a `git reset --hard HEAD` to get rid of my local changes and it still seems to work.

Not sure what the issue was with the fake device but with the real device the symlink seems to fix it!

[2017-09-09 19:25] romanz commented on #136
Sounds great :)

[2017-09-09 19:25] #136 closed

[2017-09-09 19:28] romanz commented on #136
Regarding the "fake-device-gpg: command not found" error: usually `pip install --user` puts the `fake-device-gpg` script under `/home/$USER/.local/bin/fake-device-gpg`, so this error may happen if your PATH doesn't contain `~/.local/bin`.

[2017-09-09 19:28] #135 closed

[2017-09-09 21:15] mnemnion commented on #136
For the sake of anyone who might find this later: I ran `pip -v install --user -e ./agents/fake` and the `-v` option showed that on macOS the correct path is `/Users/$USER/Library/Python/2.7/bin`.

Adding this to my $PATH makes the fake-device script work correctly.

Thanks for all your help @romanz!

[2017-09-10 05:43] romanz commented on #136
You're welcome :)

[2017-09-17 07:04] sebster opened #137 "Unicode warnings on every ssh login"
I get the following warning every time I log into a system using trezor-agent:
[code]

[2017-09-20 19:02] romanz commented on #137
Thanks for reporting this issue!

[2017-09-22 11:13] #137 closed

[2017-09-22 11:13] romanz commented on #137
It should work now both for Python 2 and 3 :)

[2017-09-27 04:21] jb55 commented on #135
Thanks! I was able to create a system service on NixOS for trezor-gpg-agent. https://github.com/NixOS/nixpkgs/pull/29831

[2017-10-01 09:33] dongcarl commented on #127
Should Arch users always use "fake-device"?

[2017-10-01 20:45] romanz commented on #127
No, it is only used to test the code not related to the hardware device ("faking" the device's API for testing purposes only).

[2017-10-01 21:02] romanz commented on #135
Cool, thanks for the integration with NixOS!
I'll release a new version of trezor_agent package to PyPI tomorrow :)

[2017-10-01 21:15] jb55 commented on #135
Great, thanks! That might help get it merged.

[2017-10-02 18:46] romanz commented on #135
I've updated the core [libagent](https://pypi.python.org/pypi/libagent/0.9.3) package at PyPI.
Note that the [TREZOR-specific](https://pypi.python.org/pypi/trezor_agent) wrapper [depends](https://github.com/romanz/trezor-agent/blob/master/agents/trezor/setup.py#L13) on it - so it should be installed automatically when using `pip`:

[code]

[2017-10-05 18:14] romanz opened #139 "Support GnuPG 2.2.x"
Following #136 and https://lists.gnupg.org/pipermail/gnupg-announce/2017q3/000413.html - GnuPG 2.2 is installed as `gpg` (and not at `gpg2`).

The installation Bash script and the Python code need to change accordingly.

[2017-10-07 17:50] #139 closed

[2017-10-08 09:20] galuszkak opened #142 "Docs: idea to write how to use GPG with Thunderbird/Enigmail"
Hi,

I'm trying to figure how to use Enigmail with GPG with my trezor but this seems to me a little confusing. Could someone help me understand how to do it? I can later write documentation for that.

Thanks
Kamil

[2017-10-08 10:39] galuszkak commented on #92
I can create that package. :)

Taking that ticket then ;)

[2017-10-08 10:40] romanz commented on #92
Much appreciated :)

[2017-10-08 11:54] romanz commented on #142
Thanks for the suggestion, will do :)

[2017-10-09 06:51] romanz commented on #142
![01](https://user-images.githubusercontent.com/9900/31327339-47a5f69a-acd7-11e7-997c-7b5a286fe5bc.png)
![02](https://user-images.githubusercontent.com/9900/31327344-51dcd246-acd7-11e7-8cdc-dd305a512dbb.png)
![03](https://user-images.githubusercontent.com/9900/31327346-546862a0-acd7-11e7-8e00-b40994bd6f17.png)
![04](https://user-images.githubusercontent.com/9900/31327356-660d098e-acd7-11e7-9e43-76

[2017-10-09 07:04] romanz commented on #142
Please take a look at https://github.com/romanz/trezor-agent/blob/master/doc/enigmail.md :)

[2017-10-09 13:18] romanz commented on #28
Seems to be fixed at protobuf 3.4.0:
[code]

[2017-10-09 13:18] #28 closed

[2017-10-09 18:23] andrevmatos opened #144 "GPA instructions not working"
On current master (e4fdca0), using python3 and local user installation, I can sign and decrypt from command line (gpg v.2.2.1), but firing `gpa` as per docs, it gets stuck and doesn't load.
With the normal setup (localfile gnupg privatekey), it loads all public and private keys as usual.
[Here are the logs](https://github.com/romanz/trezor-agent/files/1369465/gpg-agent.log) of a session where, wit

[2017-10-09 18:33] andrevmatos commented on #49
Can you, please, add docs instructions on how to create a subkey?

[2017-10-10 03:27] AgentME opened #145 "Keys created with scripts/gpg-init are marked as not supporting compression or MDC"
While encrypting some files to a new trezor key, I noticed the encrypted output files were much bigger than some encrypted output files that were encrypted for a different non-trezor key. Every gpg key has a list of preferences about supported features, and it seems like the keys generated by trezor-agent have a very barebones preference list, lacking any compression algorithms or the MDC (modific

[2017-10-10 06:19] romanz commented on #145
Thanks for reporting this issue!
I'll update the key generation code soon :)

[2017-10-10 06:52] romanz commented on #145
[code]

[2017-10-10 06:56] romanz commented on #145
@AgentME
Please take a look :)

[2017-10-10 06:58] romanz commented on #144
Thanks for reporting this issue!

It seems that my library does not support the `NOP` command:
[code]

[2017-10-10 07:06] AgentME commented on #145
Looks good! Thanks!

[2017-10-10 07:07] romanz commented on #144
This seems to fix the issue...

[2017-10-10 08:39] AgentME commented on #145
Though actually I think it'd make sense to prioritize SHA256 over the other digest methods like gpg usually does: they're kinda over-paranoid and take up more space.

[2017-10-10 09:13] romanz commented on #145
You're right - fixed at https://github.com/romanz/trezor-agent/pull/146/commits/c8ed4a223a6673c0617271c4c6bed8fcd1bfeb6f#diff-3917845cdbb968e7e9bc3d6a61c65de3R26.

[2017-10-10 09:28] romanz opened #147 "Add documentation for adding TREZOR-based GPG subkey"
Following https://github.com/romanz/trezor-agent/issues/49#issuecomment-335249089.

[2017-10-10 09:28] romanz commented on #49
Will do :)

[2017-10-10 10:38] romanz commented on #147
[![asciicast](https://asciinema.org/a/JFazcJfORrz7k9DmVXknaXBfD.png)](https://asciinema.org/a/JFazcJfORrz7k9DmVXknaXBfD)

[2017-10-10 11:02] romanz commented on #147
@andrevmatos
Please take a look (https://github.com/romanz/trezor-agent/commit/835f283ccffe3515155f7c69bb52db605b327c68)

[2017-10-10 11:33] andrevmatos commented on #144
Yeah, 1ef96be fixed it! Gpa working again flawlessly. Thank you very much.

[2017-10-10 11:33] #144 closed

[2017-10-10 11:41] andrevmatos commented on #147
Great! It worked here. Thank you!
Does this subkey creation also depends on timestamp (for future re-creation)? Is it possible to create sub-UIDs with it?

[2017-10-10 12:02] romanz commented on #147
Yes, it is - and you can override it using TIMESTAMP environment variable.

No, IIUC currently the primary key is used for adding UIDs (e.g. certification).
The TREZOR-based subkeys are used for signatures and encryption.

[2017-10-10 12:03] romanz commented on #144
You're welcome :)

[2017-10-10 12:08] andrevmatos commented on #147
Right.. if it's not asking too much, can you provide a command line for adding a UID to the primary key with trezor-agent?

[2017-10-10 15:58] andrevmatos commented on #147
Ok, I thought it had a different process, but trezor only needs to sign a simple operation to add a new uid:
For records, one can add a new UID with:
[code]

[2017-10-10 17:24] romanz commented on #147
No problem, will do in a separate PR.

[2017-10-10 17:41] #147 closed

[2017-10-10 17:42] romanz commented on #147
Merged in master (https://github.com/romanz/trezor-agent/commit/0999a85529156a5aa5e2ae3bca64b2b6adc81ac6)

[2017-10-10 17:47] #145 closed

[2017-10-11 07:13] galuszkak commented on #142
Looks nice @romanz .

There is one thing that actually bugs me in README-GPG.md . You can't init your GPG key env without using /scripts/gpg-init which isn't included in PyPI package. If you want to use it you have to never the less download the repo or script only and then use it.

[2017-10-11 07:16] AgentME commented on #142
Yeah I found it surprising that `trezor-gpg create` (accessible from the pypi package) didn't do the same thing as /scripts/gpg-init. I tried using it first just thinking the documentation hadn't been updated to use the pypi-accessible commands.

[2017-10-11 07:19] romanz commented on #142
Oops... you're right, I totally forgot about the fact that `gpg-init` is not part of the official distribution.
I'll rewrite this Bash script in Python, and add it to the relevant PyPI packages.

[2017-10-11 07:22] romanz opened #148 "Re-write ./scripts/gpg-init Bash script in Python"
This way it'll be available after running `pip install trezor_agent`.

[2017-10-11 07:27] galuszkak commented on #148
@romanz If I can add one more recommendation here, now it takes whatever is in PATH as python. Could it be parametrized? I'm mostly using python 3 so I had to just change that line there.
[code]

[2017-10-11 07:28] galuszkak commented on #148
Ah, disregard my comment, this ticket about rewriting that script to Python. Didn't catch that, I'm probably to sick, should stay away from computer ;).

[2017-10-11 07:35] romanz commented on #148
No problem - get well soon :)

[2017-10-11 12:16] StaceC opened #149 "ED25519 PublicKey Generation on Ledger Nano S Stalling"
Hi, using:

- [Ledger SSH Agent](https://github.com/LedgerHQ/blue-app-ssh-agent/tree/master) on master running on a Nano S
- Trezor Agent on master running on Ubuntu 14.04.5 Trusty Tahr

Running the Quick Start Identity Creation command works fine. When I try and run it with CURVE=ed25519 I see the following:

- Run `DEVICE=ledger CURVE=ed25519 ./scripts/gpg-init "John Doe <johnd@acme.com>"`
- 'Pr

[2017-10-11 17:39] romanz commented on #149
This reproduces on my Ledger device as well - exactly as you described.

[2017-10-11 17:41] romanz commented on #149
Thanks a lot for reporting this issue!
I'll take a look on it in the following days.

[2017-10-11 17:50] romanz commented on #149
Can confirm that this happens on my Ledger Nano S device as well (running firmware v1.3.1 and SSH/PGP Agent v0.0.3).

[2017-10-11 18:02] romanz commented on #149
Note that the `ledger-agent` tool works with ed25519 SSH keys (using almost the same client-side code as the the GPG tool):
[code]

[2017-10-11 18:23] romanz commented on #149
The APDUs sent during the session can be seen below:
[![asciicast](https://asciinema.org/a/JZBeyqo2jAMu31noKxdZSkjpO.png)](https://asciinema.org/a/JZBeyqo2jAMu31noKxdZSkjpO)

@btchip
Could you please take a look at this issue?

[2017-10-11 18:27] romanz commented on #148
Need to update the documentation and bump the version as well.

[2017-10-11 18:42] romanz commented on #148
Should be fixed by #150 PR.

[2017-10-11 18:44] #148 closed

[2017-10-11 18:44] #142 closed

[2017-10-11 18:50] romanz commented on #149
P.S.
Actually, I don't remember that I successfully created ed25519-based GnuPG identity using the Ledger Nano S...

[2017-10-11 19:00] btchip commented on #149
Yes, it might work for signing but not for encryption. Need to review this later

[2017-10-11 19:01] romanz commented on #149
Thanks for the help!

[2017-10-12 09:58] StaceC commented on #149
Hi, thanks for replicating that so quickly @romanz
I'll take a look at the ledger-agent SSH

[2017-10-15 10:39] galuszkak opened #152 "ModuleNotFoundError: No module named 'PyQt5'"
Am I doing something wrong here?

[code]

[2017-10-15 18:13] romanz commented on #152
Thanks for reporting this issue!

I forgot to add the dependency on `PyQt5` (used for PIN entry when no TTY is available) to the `libagent` package.

[2017-10-16 12:06] galuszkak opened #154 "Bug trezor-gpg init doesn't work on OS X"
I tried new implementation of `trezor-gpg init` command but it doesn't work for me on OS X.

Here is stacktrace:
[code]

[2017-10-16 12:09] galuszkak commented on #154
I think worth to mention is:
[code]

[2017-10-16 23:05] codeHatcher opened #155 "can't find cli osx macOS Sierra, nothing in ~/.local/bin PATH"
did `pip install --user trezor_agent` and then tried to run command line utility but it shows not found I see there is information on adding `~/.local/` to the PATH but there is nothing in that directory for me. I have a screenshot below with the summary

![image](https://user-images.githubusercontent.com/5360982/31639036-b13984fa-b2a4-11e7-8ab9-b60f1f745986.png)

[2017-10-17 07:17] galuszkak commented on #152
@romanz It doesn't work.

[code]

[2017-10-17 16:04] romanz commented on #155
Following https://github.com/romanz/trezor-agent/issues/136#issuecomment-328303916, it may be installed under `/Users/$USER/Library/Python/2.7/bin`.

[2017-10-17 16:10] romanz commented on #154
Thanks for reporting this issue!

Can you please re-run the installation with `-vv` flag (for more verbose logging)?

On my machine, the GPG directories have the following permissions:
[code]

[2017-10-17 17:36] romanz commented on #152
Did you installed `PyQt5` via `pip` or via `homebrew`?

[2017-10-17 17:48] galuszkak commented on #152
@romanz via pip.

[2017-10-17 17:54] galuszkak commented on #154
@romanz please, here it is. If you need anything more just let me know. I'm glad that I can help somehow.

[code]

[code]

[code]

[2017-10-17 17:55] galuszkak commented on #154
@romanz sorry also this:
[code]
[code]

with gpg2 it didn't worked. But gpg worked fine

[2017-10-17 18:13] romanz commented on #154
Thanks a lot!
It seems that running the `gpg -K` command manually works correctly (but fails when ran by `trezor-gpg init`).

[2017-10-17 18:14] romanz commented on #154
Can you try now to run:
[code]

[2017-10-17 19:28] codeHatcher commented on #155
that was it, ty!

[2017-10-17 19:37] codeHatcher commented on #155
@romanz added a little info to the install of the README for the next person that comes across this issue

[2017-10-18 06:28] galuszkak commented on #154
I don't have `gpg2`. There is only `gpg` which has version 2.

[code]

[2017-10-18 08:59] romanz commented on #155
Thanks again :)

[2017-10-18 08:59] #155 closed

[2017-10-19 05:19] galuszkak commented on #152
Hi @romanz . I think issue still persists here.
[code]

[2017-10-19 19:11] romanz commented on #154
Sorry about the `gpg2` typo... I am still using GnuPG v2.1.11 on my machine, which is installed under `/usr/bin/gpg2`.
GnuPG switched back to `/usr/bin/gpg` from v2.2, causing some confusion...

[2017-10-19 19:13] romanz commented on #154
Regarding the issue at hand:
It seems that only the last installation command fails - but when you run it again manually (`gpg -K`) it succeeds and the signature also seem to be working.

[2017-10-19 19:16] romanz commented on #154
The good news are that your TREZOR-based GPG identity seem to be configured correctly (a part from the weird error message during the installation).

[2017-10-19 19:41] romanz commented on #152
Well, this is weird... :(

Can you please try using `homebrew` for installing the `python3-pyqt5` package?
Also, you can run the following [script](https://gist.github.com/romanz/4d9f242b393ccfbffa59824d79539faf) for testing the PIN entry dialog on your machine (it contains the only Qt-related code from `trezor-agent`).

BTW, I can try to rewrite this UI in Tk if this will solve the dependency iss

[2017-10-21 06:57] romanz commented on #154
Well, it seems that something has changed w.r.t. GnuPG v2.2 - the issue reproduces on latest Arch Linux.

[2017-10-21 14:38] romanz commented on #154
@galuszkak
Can you please attach the `trezor-gpg-agent` log file (after the installation fails to finish successfully)?
It should be under `~/.gnupg/trezor/gpg-agent.log`.

[2017-10-21 15:49] romanz commented on #154
This issue may be fixed via https://github.com/romanz/trezor-agent/commit/7ed76fe4726c6474a7a919ed5ab3722c561b31a7 (I wasn't specifying the correct GNUPGHOME environment variable when trying to get the correct UNIX sockey patch via `gpgconf`).

[2017-10-21 15:50] romanz commented on #154
@galuszkak
Can you please try the latest version (see the commit ID above) on Mac OS?

[2017-10-21 15:58] romanz commented on #154
@galuszkak
Sorry for the spurious ping, the initialization seem to fail at a later stage... Will continue debugging.

[2017-10-21 17:53] romanz commented on #154
@galuszkak
Please try the latest version (https://github.com/romanz/trezor-agent/commit/bab46dae5c23d303c2bb665667dfbebf405b9001) - it works correctly on latest Arch (with gpg v2.2.1).

[2017-10-21 18:52] romanz commented on #152
Please take a look at https://github.com/romanz/trezor-agent/commit/08fef24e39abff0cc60f7341e7e124fccbdc5ce8 (it's using `pymsgbox` instead of `PyQt5`).

[2017-10-22 05:16] galuszkak commented on #154
I've downloaded master did. `pip3 uninstall trezor-agent libagent` after that `python3 setup.py install` on libagent and trezor-agent, and after that did `trezor-gpg init` .

[code]

[2017-10-22 05:30] galuszkak commented on #152
@romanz I've tried now but it doesn't work. It's like stucked forever.
I just see bouncing Python icon in dock like that.
<img width="164" alt="screen shot 2017-10-22 at 9 28 31 am" src="https://user-images.githubusercontent.com/759579/31858542-63a06428-b70b-11e7-9e44-a8fb81d56761.png">
...

[2017-10-22 09:08] galuszkak opened #157 "trezor-agent segfault"
From time to time, after maybe 5-10 min of not using trezor (in that time it's working fine) until I have this issue/error:

[code]

[2017-10-22 17:06] romanz commented on #154
@galuszkak
Can you please attach the trezor-gpg-agent log file?
It should be under ~/.gnupg/trezor/gpg-agent.log.

[2017-10-22 17:09] romanz commented on #152
Could you please try running the following code in your local Python interpreter:
[code]

[2017-10-22 17:10] romanz commented on #152
It [should](https://github.com/asweigart/PyMsgBox/blob/master/setup.py#L24) work on Mac OS X...

[2017-10-22 17:30] romanz commented on #157
It may be related to https://github.com/romanz/trezor-agent/issues/98#issuecomment-284366380.

Are you using the latest `hidapi` package?
[code]

[2017-10-22 23:54] galuszkak commented on #152
@romanz this one actually works on my laptop. I will try on my work laptop this morning, where I had this bug.

[2017-10-22 23:56] galuszkak commented on #157
BTW @romanz thanks, for putting so much hard work in those MacOS bugs that I'm just throwing at You. Really BIG thanks for Your help, commitment 👍  and kindness. I hope when we resolve most of those then I create homebrew package so anyone can benefit from this hard work from You :).

[2017-10-24 15:43] romanz commented on #157
No problem, I am happy to help :)

[2017-10-24 15:44] romanz commented on #157
Could you reproduce the segfault when running the trezor-agent with highest verbosity level (using the `-vv` flag)?

[2017-10-25 05:48] galuszkak commented on #157
First answer is:
[code]

[2017-10-25 05:53] galuszkak commented on #157
And debug log is:
[code]

[2017-10-25 05:55] galuszkak commented on #157
@romanz sounds this log above indicate some problem on level Python <-> OS X

[2017-10-25 05:57] galuszkak commented on #154
@romanz below:

[code]

[2017-10-25 06:00] galuszkak commented on #152
@romanz on my work laptop this chunk of code also works, but case from Trezor doesn't work still.

[2017-10-25 06:21] galuszkak commented on #154
Just to make sure that `gpgconf` actually exists:
[code]

So I'm not entirely sure why this error is popuping.

[2017-10-27 08:07] romanz commented on #152
Can you please try the latest commit (https://github.com/romanz/trezor-agent/commit/3d5717dca1626f3f2269cc66dee00d2d72a39e67)?
It uses a separate process for getting the scrambled PIN (instead of using the `pymsgbox` directly).

[2017-10-27 08:22] galuszkak commented on #152
@romanz it doesn't work. But I know why. You have hardcoded python. Can You detect which interepreter You are using so if I'm using python3 it will use it, rather than hardcoding?
[code]

[2017-10-27 08:22] galuszkak commented on #152
@romanz I think it's possible using this:
[code]

[2017-10-27 08:29] romanz commented on #152
Thanks for the fix - see https://github.com/romanz/trezor-agent/commit/a2d0c1067dbfb4501d442d07500898b7bbd79b88

[2017-10-27 08:29] galuszkak commented on #152
OK I have fix, I will do Pull Request.

[2017-10-27 08:29] galuszkak commented on #152
ahh :) already tested my fix and it works 👍

[2017-10-27 08:29] galuszkak commented on #152
@romanz we can close then. It's working

[2017-10-27 08:30] #152 closed

[2017-10-27 08:33] romanz commented on #154
Could you please replace `gpgconf` (at [1]) with its full path on your machine (via `which gpgconf`) and test if it works?

[1] https://github.com/romanz/trezor-agent/blob/e2625cc521f93b2796df8a38578ca51c5a614ed9/libagent/gpg/keyring.py#L19

[2017-10-27 08:37] romanz commented on #157
Indeed.
If so, it would be interesting to reproduce this issue on Mac OS using `python-trezor` API.

[2017-10-27 08:40] galuszkak commented on #154
@romanz
[code]

OK we have some progress, but not sure what do to next ;)

[2017-10-27 08:40] galuszkak commented on #157
@romanz if You can prepare anything I can run it.

[2017-10-27 09:04] galuszkak commented on #154
@romanz OK I think I have an idea. Is there any reason why You not use just:
https://docs.python.org/dev/library/shutil.html#shutil.which . It's available in python 3. For python 2 we can use this shim library: https://pypi.python.org/pypi/backports.shutil_which/3.5.1

[2017-10-27 15:48] romanz commented on #157
Sounds good - can you please try to reproduce it with https://github.com/romanz/trezor-agent/commit/876c9e659bf221c30891aa54cabe390831b18cab?

It can be run using the following command:
[code]

[2017-10-27 16:23] galuszkak commented on #157
@romanz I tried it. But it isn't that.
I've run the script (changed only time from 60*10 to only 30 s) it always works. But in mean time on other shell I did trezor-agent kamil@example.com -s  and did after second git fetch it crashed. But Your script in meantime still works correctly... So this must have something to do with -s option I believe.

[2017-10-27 16:29] galuszkak commented on #157
Your script is still going I again started `trezor-agent kamil@example.com -s` and two execution of git fetch went fine, third one failed with crash.

[2017-10-27 17:30] romanz commented on #157
Very weird...
So it happens only when the same `trezor-agent` process is running for a long  (~10 minutes) time?

[2017-10-28 03:26] galuszkak commented on #157
I think time factor doesn't have anything to do with it, sorry for misleading in first oplace. I can reproduce that right now in 45-60s. I was thinking it's time factor, but probably because I was doing `git` between longer period of time. But now if I do `git fetch` one by one without pause eventually after second or third time it crashes.

[2017-10-31 20:52] galuszkak commented on #92
@romanz found this:
https://github.com/tdsmith/homebrew-pypi-poet

sounds it's taking care of everything for creating Formula.

[2017-11-02 15:14] romanz commented on #154
Thanks for the suggestion!
Please try https://github.com/romanz/trezor-agent/commit/778f8353993acf49c88b10537d20e391c86534f4 (from the `which-fix` branch). It should currently work on Python 3 (and if it works for you, I'll add Python 2 support as well).

[2017-11-02 15:47] romanz commented on #157
BTW, did any of the Mac OS users of `trezor-agent` had encountered this issue?
@baremetalfreak
@mnemnion
@fruitloop
@oohaysmlm
@robbert36

(asking because I don't have access to a Mac OS machine...)

[2017-11-02 15:53] romanz commented on #157
@galuszkak
Let's try to reproduce this with 2 separate processes.

In the first shell, run the `trezor-agent` process:
[code]
In the second shell, run the following commands (using the UNIX socket path above):
[code]

[2017-11-02 16:15] baremetalfreak commented on #157
@romanz I have never seen it, but I do not currently use trezor for git. Let me set it up and see if it shows up.

[2017-11-02 16:15] fruitloop commented on #157
@romanz I don't use the trezor for ssh at the moment

[2017-11-02 16:41] romanz commented on #92
Thanks for finding this tool :)
Running it on my machine resulted in the following [formula](https://gist.github.com/romanz/8feb3357e12f4581c79b19c2090a4918).
If this works for you, feel free to submit a PR for https://github.com/Homebrew/homebrew-core (IIUC).

[2017-11-05 05:12] galuszkak commented on #154
@romanz sounds something must modify $PATH env, because:
[code]
kamil@surfer-172-30-31-121-hotspot:~/Projects/trezor-agent (which-fix$=) % python3
Python 3.6.3 (default, Oct  4 2017, 06:09:38)
[GCC 4.2.1 Compatible Apple LLVM 9.0.0 (clang-900.0.37)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

'/usr/local/bin/gpgconf'
[code]

[2017-11-05 05:22] galuszkak commented on #157
@romanz OK, I think we narrow one thing. This failed after second `git fetch`. Also I didn't use flag -e I just take default key algorithm.

[code]

[2017-11-06 03:37] gstkenpo opened #158 "ledger-agent ssh connection error on Windows"
Hi all,
I have successfully added the public to my remote machine. However, I have the following error when i try to connect my remote server with the following command.
[code]
I have confirmed the ledger is connected properly and pin is typed. Here is the error log.

May I ask for a suggestion? Thanks

[code]

[2017-11-06 17:12] talmai commented on #95
**Can I reopen this please? On my machine...**

$ trezor-agent -vv foobar

2017-11-06 12:11:35,208 DEBUG        parsed identity: {'path': None, 'host': 'foobar', 'proto': None, 'port': None, 'user': None}         [interface.py:30]
2017-11-06 12:11:35,208 DEBUG        identity parts: ['ssh://', 'foobar']                                                                 [interface.py:46]
2017-11-06 12

[2017-11-06 17:14] talmai commented on #92
Using your .rb worked. trezor-agent built with minimal hassles.

[2017-11-06 17:35] talmai opened #159 "NanoS never detected on OSX"
**On my machine...**
[code]
**Any ideas?**

[2017-11-06 18:14] romanz commented on #159
The documentation is probably to blame here...
I have created separate Python packages for TREZOR, Keepkey and Ledger devices ~6 months ago, to reduce the dependencies for each specific installation (before the split, you had to install all devices' dependencies - even when you had a single device).

In order to use the Nano S, please install the `ledger_agent` package from PyPI (see [here](https:

[2017-11-06 18:20] romanz commented on #158
It seems you are running it on Windows machine. Unfortunately, my library  currently supports only *nix-like systems (e.g. Linux and Mac OS).

@martin-lizner has created a [TREZOR SSH Agent for Windows](https://github.com/martin-lizner/trezor-ssh-agent), but I am not aware of similar support for Ledger Nano S :(

[2017-11-06 19:35] talmai commented on #159
Ugh.. never thought to look for a new package altogether.

Yes, worked perfectly. Thanks.

[2017-11-06 20:05] romanz commented on #159
You're welcome :)

[2017-11-06 20:05] #159 closed

[2017-11-06 20:17] romanz commented on #154
It's weird, because '/usr/local/bin' seems to be on your PATH:
https://github.com/romanz/trezor-agent/issues/154#issuecomment-339223173

Can you try to replace the call to
[code]
with
[code]

and then try to reproduce the error in a separate Python interpreter (using the same `os.environ['PATH']` from above)?

[2017-11-06 20:20] romanz commented on #157
It's really weird. I'll try to find a Mac OS machine to try and reproduce this issue...
BTW, did this issue happen on a specific machine / OS version?

[2017-11-07 03:09] galuszkak commented on #157
I tried on both latest MacBook Pro 2017 with High Sierra OS X (10.13.1).

[2017-11-07 04:06] gstkenpo commented on #158
oh poor OS. Then I shell close this issue due to the fact that I mis-understand the tool operation platform

[2017-11-08 00:12] StaceC commented on #149
Turns out Ledger Nano S ed25519 derivation does not support non-hardened addresses. I was using them to test, e.g. 44'/225'/0'/0/0 (note the last two nodes are not hardened).

See - [here](https://www.reddit.com/r/ledgerwallet/comments/71tphi/is_there_a_javascript_implementation_of_os_perso/) for more details.

Currently, there is no requirement from our side to use non-hardened address derivation

[2017-11-08 00:12] #149 closed

[2017-11-08 04:13] galuszkak commented on #157
@romanz if You want we can schedule session when I can give remote access so You can test it by Yourself without looking for mac.

[2017-11-08 05:35] galuszkak commented on #154
@romanz hm, not sure why is that. See below.
[code]

[2017-11-08 05:46] galuszkak commented on #154
Idea:
- Maybe this is because libagent start as subprocess?
`2017-11-08 09:44:11,271 DEBUG        sys.argv: ['/usr/local/bin/trezor-gpg-agent', '--homedir', '/Users/kamil/.gnupg/trezor', '--use-standard-socket', '--daemon'] [__init__.py:207]`

This starts as a subprocess, maybe because of that os.environ path isn't visible?

[2017-11-08 05:51] galuszkak commented on #154
OK sounds it's true, there is no PATH env variable in that subprocess which is why is failing.

[2017-11-08 15:55] romanz commented on #154
You're right, good catch!
I'll update the code to handle this case.

[2017-11-08 15:58] romanz commented on #157
Sounds good, but before that - could you record the failing terminal session (e.g. using [asciinema](https://asciinema.org/))?
Please use the most verbose logging (if possible)...

[2017-11-08 19:53] nurupo opened #160 "Why is this (trezor-agent) needed, why is Trezor not compatible with gpg-agent?"
I'm looking into hardware keys and Trezor looks interesting. The thing I don't understand is why `trezor-agent` is needed? YubiKey can be used without any custom agent, just with the stock `gpg-agent`. Do you know if there are any plans of making Trezor work with `gpg-agent` or upstreaming any special support for Trezor into `gpg-agent`?

[2017-11-09 07:04] edivad13 opened #161 "Can trezor-agent handle multiple identities?"
What happens if I issue another trezor gpg init with a different email? The previus identity get discarded?

[2017-11-09 07:17] edivad13 opened #162 "GPG identity recover with the bare seed"
Let's suppose a trezor is lost/stolen

To recover the BTC, the user just need to fire up an electrum instance, insert his seed + derivations and he get access to the coins

Now let's suppose that the user has also generated a GPG identity, how he will be able to recover the identity just with the seed in hand?

[2017-11-09 07:21] edivad13 commented on #161
Solved: https://github.com/romanz/trezor-agent/issues/88

I haven't done a proper backlog (newbie here)

trezor-agent uses timestamp, so you can have multiple identities

[2017-11-09 07:21] #161 closed

[2017-11-09 07:28] edivad13 commented on #162
Solved: https://github.com/romanz/trezor-agent/issues/88

Haven't done proper backlog on past solved issues: albeit I found a bit tricky the recovery with the bare seed, it's possible to do it.

romanz, you are a genius

[2017-11-09 07:28] #162 closed

[2017-11-09 07:33] edivad13 commented on #161
And i would just like to add a juicy detail: https://github.com/romanz/trezor-agent/issues/91

Basically aside of having multiple identities based on the timestamp, you can also have hidden identities!

[2017-11-09 07:35] edivad13 commented on #91
I would like to ask: is there a recommended practice to handle the TREZOR_PASSPHRASE environment variable inside a terminal emulator?

Can for instance unintentionally be kept in the history as many linux distros do by default?

[2017-11-09 07:40] AgentME commented on #91
If $HISTCONTROL is set to "ignorespace" or "ignoreboth" (as seems to be standard on Linux), then lines starting with a space aren't saved to the history. You could run " export TREZOR_PASSPHRASE=whatever" before running the gpg commands using the hidden key.

[2017-11-09 08:05] edivad13 opened #163 "TREZOR_PASSPHRASE enviroment variable doesn't work in certain conditions"
It seems that if the trezor passphrase option is not marked on https://wallet.trezor.io/, trezor-gpg simply ignores the variable

[2017-11-09 19:53] romanz commented on #160
The main reason is that standard OpenPGP smart card support (see the full spec [here](https://gnupg.org/ftp/specs/OpenPGP-smart-card-application-3.3.1.pdf)) requires more complexity on the device side - and I preferred to keep the embedded C code as simple as possible.

Saying that, I remember that there was an effort by @saleemrashid to implement the OpenPGP smart card protocol for the TREZOR dev

[2017-11-09 20:05] saleemrashid commented on #160
Current status: lack of time to work on it, unfortunately.

[2017-11-09 20:14] romanz commented on #154
Please take a look at https://github.com/romanz/trezor-agent/commit/4926d4f4d32388a120133b50c3067e029e9c54cf (at `which-fix` branch).

[2017-11-10 15:54] romanz commented on #163
You're right - but the decision happens at the device itself - if the device has no passphrase protection enabled, it [won't ask](https://github.com/trezor/trezor-mcu/blob/892bb8501a1282535a9c721d0a3187f51aa5585b/firmware/protect.c#L237-L239) the user to provide one.

[2017-11-10 16:40] edivad13 opened #164 "trezor-gpg init with TREZOR_PASSPHRASE doesn't work"
Procedure:
[code]

then if i use the test command `echo 12 | gpg2 --sign`, the output is the following:

[code]

[2017-11-10 16:42] #163 closed

[2017-11-10 19:03] romanz commented on #164
Good catch!
I'll change passphrase entry to use a UI-based dialog box (same as used for PIN entry).

[2017-11-10 19:04] edivad13 commented on #164
Thanks! But currently also the pin entry is all displayed on the terminal in my case

[2017-11-10 20:23] romanz opened #165 "PIN entry fails after setup"
[code]
`gpg-agent.log` contains:
[code]

[2017-11-10 20:48] romanz commented on #164
You're right - but this happens only when a terminal is available.
Usually `trezor-gpg-agent` is invoked in the background (by `gpg`) so it needs to use UI-based PIN entry.

[2017-11-12 06:34] galuszkak commented on #154
@romanz It works! Thanks!

[2017-11-12 06:34] galuszkak commented on #157
Will do it today/tommorow.

[2017-11-12 21:56] aitorpazos opened #167 "Assertion error trying to add a subkey using ledger-gpg init"
I was trying to add a new subkey from my Ledger Nano S to an existing key with other subkeys and I'm getting an "AssertionError".
This is the key structure:
[code]
The error seems to be related to the key configuration, as it worked fine with a new key created using default values, adding a subkey to it and then adding the ledger key. However, I don't know how could I fix it using my existing key.

[2017-11-15 02:17] markasoftware opened #168 ""No secret key" GPG error on Arch Linux with Nano S"
https://asciinema.org/a/Vtk29mWoAlqeBvH6aXTDxpceO

It seems almost identical to #117. It seems to fail before any log file is created.

Output of `gpg2 --version | head -n1` is `gpg (GnuPG) 2.2.2`, which is later than in #117 (another day of Arch Linux, another broken update).

Output of `gpgconf --list-dirs`: http://sprunge.us/OBLF
Output of `gpg2 --export | gpg2 --list-packets`: http://sprunge.u

[2017-11-15 06:25] romanz commented on #167
Thanks for reporting this issue!
I actually never tested it with NISTP521keys...
Will reproduce locally and fix.

[2017-11-15 06:28] romanz commented on #168
Thanks for reporting this issue!

[2017-11-15 15:01] markasoftware commented on #168
`ledger-gpg init -vv "mark"`: http://sprunge.us/QCKY

[2017-11-15 18:55] romanz commented on #168
It seems that `ledger-gpg-agent` is not working as intended (following the `No secret key` error).
Could you please upload its log (it should be stored under `~/.gnupg/ledger/gpg-agent.log`)?

[2017-11-15 21:57] markasoftware commented on #168
No `gpg-agent.log` exists, it seems like it fails before the log file is created.

I have this error on multiple Arch machines, both with same version of gpg (2.2.2). I'll be able to test this with older versions of GPG and different distros later today.

[2017-11-15 23:51] markasoftware commented on #168
I have tested it in a lubuntu VM with gpg 2.1.15 and it works fine. However, in Arch, when I use gpg 2.1.15-2 from https://archive.archlinux.org/, it still doesn't work, although I get a different error now...Output of `ledger-gpg init 'test'` with gpg 2.1.15-2 on Arch: http://sprunge.us/WVTM

One other thing I noticed is that when generating the key on lubuntu, it asked me to "sign" on the ledger

[2017-11-16 18:39] romanz commented on #167
This is indeed the issue - I need to add support for adding subkeys to NISTP521-based identities.
Currently, the tool supports NISTP256 ED25519, RSA, DSA and ElGamal.

[2017-11-16 19:03] romanz commented on #154
You're welcome :)

[2017-11-16 19:05] #154 closed

[2017-11-16 19:48] romanz commented on #160
BTW, this feature may be relevant for [TREZOR T](https://blog.trezor.io/pre-order-your-new-trezor-model-t-cf2a3426cf03).

[2017-11-16 19:48] #160 closed

[2017-11-16 20:12] #165 closed

[2017-11-16 20:20] romanz commented on #168
Could you please try to start the `ledger-gpg-agent` from command-line, using:
[code]

The `ledger-gpg-agent` runs with high verbosity logging, so if it fails to start - we should see why.

[2017-11-16 20:39] #164 closed

[2017-11-16 23:15] markasoftware commented on #168
Ok, finally something worked! This is super weird...https://asciinema.org/a/rJ0h0FO27gowakSdXBU3YWWnB

So, after running `ledger-gpg init` but before doing anything else, `ledger-gpg-agent` needs to be started at least once. Then, even if it is killed (and no longer shows up in `ps aux`), it will function afterwards. So, now I know how to workaround the issue, but it still could be fixed. Maybe `l

[2017-11-17 08:49] romanz commented on #168
Could you please try the [latest version](https://github.com/romanz/trezor-agent/commits/master) of `trezor-agent`?
I have merged a few fixes yesterday, which may be relevant to this issue.

Also, does this issue reproduces with `fake-device-agent`?
It can be installed using:
[code]
The `--debug-all` flag can be useful to debug `gpg-agent`-related issues...

[2017-11-17 13:21] edivad13 commented on #164
Man, updated and its working flawlessy with secret identities. You are my hero

[2017-11-17 17:06] romanz commented on #164
Thanks :)

[2017-11-18 03:23] jroelofs opened #173 "Pin failure should allow retry"
... instead of re-throwing the PinException right away.

[2017-11-18 03:27] jroelofs opened #174 "Forgetting to plug in your device shouldn't result in uncaught exception"

[2017-11-18 14:51] romanz commented on #174
Thanks for reporting this issue!

[2017-11-18 14:51] #174 closed

[2017-11-18 18:39] romanz commented on #173
Thanks for reporting this issue!

[2017-11-18 18:39] #173 closed

[2017-11-25 07:52] romanz commented on #126
https://github.com/SecurityInnovation/PGPy/issues/221

[2017-11-29 15:44] smarek opened #175 "Set default curve"
Hi, is it possible to set for various utilities (trezor-agent, trezor-gpg, ...) default curve to ED25519 instead of NIST256p1 ?

I mean something more elegant than using various helper scripts, shell command aliases, etc...

If this will become planned feature, could the solution be based on configuration in usual places, such as `.ssh/config` and `.gnupg/trezor/gpg.conf` ?

[2017-11-30 18:29] romanz commented on #175
Thanks for the suggestion!
I would add config file support to `trezor-agent` - to override command-line parameters' default values.

[2017-12-01 19:17] romanz opened #176 "GnuPG fails to import Ed25519 identity"
[code]

[2017-12-01 19:19] romanz commented on #176
Needs to be resolved before #175

[2017-12-02 18:22] romanz commented on #176
Doesn't reproduce on GnuPG 2.2.2 (installed from [source](https://gist.github.com/vt0r/a2f8c0bcb1400131ff51)).

[2017-12-02 18:28] romanz commented on #176
[Upgrading](https://gist.github.com/mattrude/3883a3801613b048d45b) to the `libgcrypt 1.7.6` seems to solve the issue.

[2017-12-02 19:11] romanz commented on #175
https://github.com/romanz/trezor-agent/commit/0d059587a734a2c6c89cbb28ffd8b061a1512f7e adds config file support for SSH.

[2017-12-04 19:33] sp4ke opened #177 "Lost all my keys after update, how to add many keys ?"
After update, tried trezor-gpg init and it removed all the keys I had before. I made sure to save the creation time to regenerate them but now I cannot add more than one identity, every time I run init it resets the previous keys.

Looking at this function https://github.com/romanz/trezor-agent/blob/f57dbb553f4424f81d793140e43b2c8abc8b71d5/libagent/gpg/__init__.py#L79  why was `run_create` removed

[2017-12-05 20:21] romanz commented on #177
`run_create` is replaced by `run_init`: https://github.com/romanz/trezor-agent/blob/13cd6be2d15911765cf336fa560215922090e016/libagent/gpg/__init__.py#L113

After you run `trezor-gpg init "Foo Bar"`, you can add more identities using:
[code]

[2017-12-06 17:15] sp4ke commented on #177
Thanks @romanz for the answer. I think it should be stated in the gpg instructions somewhere.

[2017-12-06 18:41] #177 closed

[2017-12-06 18:41] romanz commented on #177
You're welcome :)

[2017-12-08 08:34] smarek commented on #175
Thank you, what is an example config file, we can use now?

[2017-12-08 09:22] romanz commented on #175
You're welcome :)

`configargparse` uses `.ini` format for the [configuration file](https://github.com/bw2/ConfigArgParse#example), so `--param=value` flags should be written as:
[code]

For example, I am currently using the following configuration file:
[code]

[2017-12-08 18:25] romanz commented on #168
Ping :)

[2017-12-08 19:51] #175 closed

[2017-12-08 19:58] romanz commented on #167
AFAIK, no hardware wallet support operation NIST-521 curve, so this tool will only support adding new (not NIST-521) sub-keys to existing (NIST-521) ones.

[2017-12-08 20:04] romanz opened #178 "Switch to bumpversion"
https://github.com/peritus/bumpversion

[2017-12-11 08:58] L-Cafe commented on #157
I'm having this issue too. I hope we can resolve it, I also have a MBP with Touch Bar and High Sierra (but it happened on Sierra too).

[2017-12-11 18:44] romanz commented on #157
@L-Cafe Thanks for letting me know!
Could you record the failing terminal session (e.g. using https://asciinema.org/)?
Please use the most verbose logging (if possible)...

[2017-12-14 18:51] #178 closed

[2017-12-14 18:52] #176 closed

[2017-12-21 18:48] L-Cafe commented on #157
Not sure what you wanted me to record, I recorded the output of both `trezor-agent` and `trezor-gpg`, which seem to be failing for the same reason.

https://asciinema.org/a/obupu67lKW5ZFeHWS2sX93dya

[2017-12-22 07:18] romanz commented on #157
The failure above can be fixed by downgrading `trezor` package to `0.7.16` version:
[code]
The latest version of `trezor` has a few incompatible changes - will be solved by #180.

[2017-12-22 18:02] L-Cafe commented on #157
Still getting errors.
https://asciinema.org/a/4g0xklsOqXrsiRRThE6vh1eSP (GPG)
And a funny bug: When recording a terminal session through `asciinema rec`, SSH login works as expected. When it's not recording, I get the following:
[code]

[2017-12-22 18:45] romanz commented on #157
Regarding the GPG-related failure: could you please attach the log of `trezor-gpg-agent`? (it should be stored at `~/.gnupg/trezor/gpg-agent.log`)

[2017-12-22 18:55] romanz commented on #157
Regarding the segfault - is it possible to get the stack of the failing process (e.g. via a coredump)?
Is it similar to https://github.com/romanz/trezor-agent/issues/157#issuecomment-339222489?

[2017-12-28 23:42] jroelofs opened #181 "Installing from trunk"
I'm struggling to install from trunk. Not sure if I'm holding it wrong, or if I'm missing something:

[code]

FAOD, it "just works" when I install directly from pip, but the version from there is a bit outdated.

[2017-12-28 23:44] jroelofs opened #182 "Add --version flag"
`trezor-agent`, and `trezor-gpg` ought to have a version-dumping flag.

[2017-12-29 02:26] jroelofs opened #183 "suggestion: gpg signing should confirm with hash of message"
I imagine it working something like:

(in the terminal)
[code]

(on the device)
[code]

Where:

[code]

This will probably need a corresponding firmware update.

I'm aware that `sha1` is known to be insecure, but the Trezor's screen is so little that a `sha256` digest is probably too many characters for it.

[2017-12-29 08:52] romanz commented on #181
Thanks for reporting this issue!
Please also install the latest [python-trezor](https://github.com/trezor/python-trezor/) version, because the latest `trezor-agent` code depends on the refactored Python interface (https://github.com/romanz/trezor-agent/commit/db16aa3d1ce12e7e1e621decb8911894cd6e7a5f).

[2017-12-29 09:09] romanz commented on #182
Thanks for the suggestion!

[2017-12-29 09:32] romanz commented on #183
Thanks for the suggestion!

Unfortunately, it seems that my GnuPG version (2.1.11) doesn't log the to-be-signed hash:
[code]

[2017-12-29 14:51] AlexanderSupersloth opened #184 "Using SSH - clarification on recovery process"
I am a little confused on how some of this works and hope you can help me.

Suppose I used ledger-agent to create SSH logins for 5 different servers and I then lose my Ledger and have to recover it from the seed. Could I then login to any of my servers using `ledger-agent user@ssh.hostname.com -v -c` without having to generate a new public key?

I suppose I am just uncertain about whether anything

[2017-12-29 15:20] romanz commented on #184
Yes, the SSH identity is generated from the seed and the `user@ssh.hostname.com` string.

No - the derivation result is stored in the device's volatile memory.

Each SSH identity is generated by a separate derivation from the seed, creating a separate public key (which is exported) and private key (never leaves the device and is used to authorize the connection).

[2017-12-29 16:00] AlexanderSupersloth commented on #184
Thank you very much for your reply. I had not found the design document, but it was exactly what I needed. I understand how this works now.

[2017-12-29 16:06] jroelofs commented on #181
Oooh, thanks! This worked like a charm:

[code]

[2017-12-29 16:06] #181 closed

[2017-12-29 16:24] jroelofs commented on #182
https://github.com/romanz/trezor-agent/pull/186

[2017-12-29 16:33] jroelofs commented on #183
No, this is just how I /imagine/ it working. Mine doesn't print that hash either.... yet:

[code]

Is there a good place where we can "smuggle" it out to stdout as part of asking the device to do the signing, or is that something only the agent daemon is allowed to do?

[2017-12-29 18:20] romanz commented on #184
You're welcome :)

[2017-12-29 18:20] #184 closed

[2017-12-29 18:23] romanz commented on #181
You're welcome :)

[2018-01-05 12:53] romanz commented on #183
The only way I am familiar with is using `--debug-all` GnuPG flag:

[code]

The message digest can be found from the `gpg-agent` protocol debug messages (see `SETHASH` above).

[2018-01-05 12:57] romanz commented on #183
The issue here is that the hardware device is given a specific hash to sign - which may be too long to display on the device's screen.
We can re-visit this on TREZOR 2 (which has a larger screen).

[2018-01-05 18:59] #182 closed

[2018-01-05 19:00] romanz commented on #182
Thanks again :)

[2018-01-07 16:32] menteb commented on #92
Has the formula been submitted?

[2018-01-07 16:46] romanz commented on #92
Oops... forgot to do that :)
@galuszkak could you please submit the PR to https://github.com/Homebrew/homebrew-core?

[2018-01-07 16:48] menteb commented on #92
@romanz @galuszkak I'm testing it on my machine as we type. I can submit it through git if you want. Just one command away

[2018-01-07 17:01] romanz commented on #92
@menteb many thanks for testing!
If it works for you - please submit the PR.

[2018-01-07 17:17] menteb commented on #92
Done: https://github.com/Homebrew/homebrew-core/pull/22537
Thanks for the great job, @romanz

[2018-01-07 17:23] menteb commented on #92
Didn't pass the tests, though it worked fine on my Mac:
https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/16090/
Will start digging in. @galuszkak, any ideas?

[2018-01-08 15:30] PavelNiedoba commented on #131
OK, sorry for late reply. I got this working on latest Linux Mint (18). It's quite nice, but I'm using Chrome password manager extension which stops working once I use agent. I have to disconnect and reconnect the device to get PM working again. Is this feature or bug ?

[2018-01-08 18:19] romanz commented on #131
It seems that opening a connection to the TREZOR using the Python library indeed causes the password manager to lose the connection to the device. This actually happens for the Web wallet as well.
This can be reproduced by running `trezorctl ping msg` from the command-line...

Maybe you can use [TREZOR bridge](https://doc.satoshilabs.com/trezor-user/download.html#trezor-bridge) to access the devic

[2018-01-10 13:36] menteb commented on #92
Aha, someone came back to me. We need to include a test for the formula to pass. Is there a certain command line test for trzer-agent that has an output to verify whether the binary works correctly?

[2018-01-10 18:12] romanz commented on #92
Following #182, it does support `--version` flag now :)

[2018-01-10 18:33] menteb commented on #92
@romanz is that still 0.9.0? Guess not... Is there another more current version I can refer to in the Brew formula? Right now this is the link:

url "https://files.pythonhosted.org/packages/90/29/f840f2d498c1880e3fe00a8985da7ae9ad5afff16de0d046ade3e849f098/trezor_agent-0.9.0.tar.gz"
  sha256 "7f71ddd4b46805eab2bdb99fcd9274115d7264a4535e004cf5800d47ab6aacc4"

Guess that needs updating.

[2018-01-10 19:40] romanz commented on #92
Most of the functionality is at `libagent` [package](https://github.com/Homebrew/homebrew-core/pull/22537/files#diff-60467aa39dd17ec734b1672768143961R47); the `trezor_agent` [package](https://github.com/romanz/trezor-agent/tree/master/agents/trezor) contains only the TREZOR-specific scripts' definitions.

I have uploaded the latest (0.9.7) `libagent` package to [PyPI](https://pypi.python.org/packa

[2018-01-10 22:14] rtacconi commented on #93
I managed to install it in a Mac but I cannot find the `trezor-agent` program. Do you know where it is installed?

[2018-01-10 22:38] menteb commented on #92
@romanz success! Waiting for a maintainer to merge now. It passed all checks :)
Had some cool help, and now all works.
For reference: https://github.com/Homebrew/homebrew-core/pull/22537

I can keep maintaining the brew part if you want.

[2018-01-11 19:49] romanz commented on #92
@menteb Great news!
Thanks a lot for the help, and it would be great if you could help me maintaining the Homebrew package :)

[2018-01-11 19:52] romanz commented on #93
@rtacconi AFAIK, it should be under [~/Library/Python/X.Y/bin](https://github.com/romanz/trezor-agent/blob/master/doc/INSTALL.md#troubleshooting).
Please let me know if the documentation is correct (since I don't use a Mac).

[2018-01-13 20:16] eli-b opened #189 "Project name sounds like only Trezor is supported"
Project name sounds like only Trezor is supported, even though Ledger and KeepKey agents are also available.
Additionally, the project's GitHub description only mentions Trezor.

[2018-01-13 20:18] eli-b opened #190 "README-SSH.md mentions trezor-git, but the current code doesn't"
README-SSH.md mentions a trezor-git tool in a video link's title and in the video, but trezor-git cannot be found elsewhere in the current version of the code. Has its name changed?

[2018-01-15 12:17] eli-b commented on #183
Isn't a prefix of the hash better than no hash at all? Then you can even use sha256.
I personally don't compare all digits of a hash anyway. I assume crafting a message with a hash that matches the first and last few digits of the hash of the original message is hard enough, even if it's easier than matching all digits of the hash.

[2018-01-17 18:16] pruflyos opened #191 "Ubuntu - ImportError: No module named messages"
I installed `trezor-agent` according to the instructions on Ubuntu 16.04 (python2.7), but always get the following error:

[code]

[2018-01-18 16:38] Wheest commented on #191
Have a swatch at [https://github.com/romanz/trezor-agent/issues/181](181), installing python-trezor first worked for me.  Installed via cloned github repos rather than the pip one

[2018-01-20 16:15] romanz commented on #191
Thanks for opening the issue!
Indeed, the latest `trezor-agent` package now requires the latest `trezorlib` version, which can be installed using:
[code]

[2018-01-20 16:15] #191 closed

[2018-01-20 16:32] romanz commented on #190
Thanks for reporting this issue!

[2018-01-20 16:32] #190 closed

[2018-01-21 16:17] pruflyos opened #192 "Ubuntu - UnicodeDecodeError: 'ascii' codec can't decode byte"
Running `trezor-gpg init` always gives me the followin error:

[code]

[2018-01-21 18:38] romanz commented on #192
Thanks for reporting this issue!

[2018-01-21 18:47] romanz commented on #192
Just to be sure, could you please re-run the following command (and paste the results below)?
[code]

[2018-01-22 00:57] pruflyos commented on #192
[code]

[2018-01-22 00:58] pruflyos commented on #192
Why did you add the label `Python3`? As you can see in the output of my original post I'm using Python 2.7.

[2018-01-22 18:18] romanz commented on #192
Could you please try to re-run the initialization command with higher verbosity, on the latest [commit](https://github.com/romanz/trezor-agent/commit/3e67bc9f0e252c175020dc9c9fb1ffccf10a9f9a)?
[code]

[2018-01-22 20:21] pruflyos commented on #192
[code]

[2018-01-23 18:29] romanz commented on #192
Please update to the latest commit of [trezor-agent](https://github.com/romanz/trezor-agent), since it should log the exact output, causing the issue above:
https://github.com/romanz/trezor-agent/blob/6d8d43db9b23cede846da06f558ffe915d11c502/libagent/gpg/keyring.py#L21

[2018-01-24 10:04] pruflyos commented on #192
Well I did update to the latest commit and I have that line in `trezor-agent/libagent/gpg/keyring.py`

Here's what I did:
[code]

[2018-01-24 19:49] romanz commented on #189
(Sorry for the delayed response...)

I kept the GitHub project name mainly to prevent old URLs from breaking, but I did [split](https://github.com/romanz/trezor-agent/issues/101) the PyPI package names ([libagent](https://pypi.python.org/pypi/libagent) for the common code, and various "agents" for the specific devices' scripts).

[2018-01-26 03:36] slush0 commented on #129
Wow, that subshell feature is killing it! I'm wondering why you don't promote it better in documentation. I found it just by chance here... The usage is not obvious from the help itself.

[2018-01-26 08:44] romanz commented on #129
@slush0 Thanks a lot for the compliment and the heads-up!
Will update the documentation and the help string.

[2018-01-30 11:36] rasom commented on #192
I'm experiencing the same issue on macos, and it can be fixed by replacing `ascii ` with `utf-8` at this line
https://github.com/romanz/trezor-agent/blob/master/libagent/gpg/keyring.py#L195

In my case `output` contains Cyrillic chars so probably that's the reason of the issue.
[code]

[2018-01-30 11:39] alyyousuf7 opened #193 "ECPy requires Python '>=3'"
I'm facing issues install `ledger_agent` using `pip install ledger_agent`. Here is the output:

[code]

Is this not supported on Python 2.7?

[2018-01-30 12:31] alyyousuf7 commented on #193
I fixed the issue by forcing `ecpy` version:

`pip install ledger_agent ecpy==0.8.1`

I'm not sure if this will be breaking any other stuff. Closing for now,

[2018-01-30 12:31] #193 closed

[2018-01-30 18:19] romanz commented on #192
Thanks @rasom!
The commit above should fix the issue :)

[2018-01-31 14:54] rasom commented on #192
Thanks @romanz, I can't reproduce issue anymore.

[2018-01-31 16:01] #192 closed

[2018-01-31 19:15] pruflyos opened #194 "Ubuntu - no graphical pinentry"
Ubuntu 16.04 and 17.10

Although `pinentry-gnome3` is installed and setup (`sudo update-alternatives --config pinentry`) it is not showing up. Neither for SSH (`trezor-agent -c user@host`) nor GPG (`GNUPGHOME=~/.gnupg/trezor gpa`). For SSH it is just annoying, because it uses the text version in the console. But for GPA it is unfortunately unusable, as there is no way at all to enter the pin.

I e

[2018-02-01 09:06] romanz commented on #194
Thanks for reporting this issue!

[2018-02-01 18:53] romanz commented on #194
The code is not using GnuPG's pinentry program for TREZOR's PIN entry - but a [Pythonic message box package](https://pypi.python.org/pypi/PyMsgBox) for getting the scrambled PIN from the user (see [here](https://github.com/romanz/trezor-agent/blob/bf294beb56ad293c15e9d71eefe2a8d047f6aa03/libagent/device/trezor.py#L16)).

[2018-02-01 19:28] pruflyos commented on #194
OK... then the documentation here (at the end of the page) is outdated: https://github.com/romanz/trezor-agent/blob/master/doc/README-GPG.md

[2018-02-01 19:40] pruflyos commented on #194
[code]
Should pymsgbox launch a GUI?

[2018-02-01 19:48] pruflyos commented on #194
I found the reason. On Ubuntu you have to install `sudo apt-get install python-tk` first. Now a GUI box is launched when I use `GNUPGHOME=~/.gnupg/trezor gpa`.

[2018-02-03 14:26] brotonmail opened #195 "SyntaxError: invalid syntax"
I installed trezor-agent on Debian 9. First I got the error "ImportError: No module named messages" After first installing python-trezor with pip install -e git+https://github.com/trezor/python-trezor.git#egg=trezor I now get this issue.

[code]

[2018-02-04 09:08] romanz commented on #195
Thanks for reporting this issue!